<div class="row">
  <div *ngFor="let config of configs | orderBy:'param':false " class="col-sm-6 ">
    <div class="row panel">
      <div class="col-sm-12 ">
        {{config.param}} :
      </div>
      <div class="col-sm-12 ">
        <input type="text" [(ngModel)]="config.value" class="form-control" id="value">
      </div>
      <div class="col-sm-12 ">
        <button type="button" class="btn btn-block btn-warning" (click)="update(config)">MAJ</button>
      </div>
    </div>
  </div>
</div>