<h2 class="modal-title h5">{{data.title}}</h2>
<div class="modal-body">
  <div class="mb-3 example-full-width">
    <label class="form-label">liste des benevoles déjà inscrits</label>
    <select class="form-select" (change)="selectBenById($any($event.target).value)">
      <option value="">Sélectionner un bénévole</option>
      @for (benevole of filteredOptions | async; track benevole.id) {
        <option [value]="benevole.id">{{benevole.prenom}} {{benevole.nom}}</option>
      }
    </select>
  </div>



  <form [formGroup]="benevoleForm">
    <div class="mb-3 full-width">
      <label class="form-label">Prenom</label>
      <input class="form-control" formControlName="prenom" placeholder="Ex: Sarah">
      @if (benevoleForm.get('prenom')?.hasError('required')) {
      <div class="invalid-feedback d-block">Le prenom est obligatoire</div>
      }
      @if (benevoleForm.get('prenom')?.hasError('minlength')) {
      <div class="invalid-feedback d-block">C'est un peu court comme prenom!</div>
      }
      <div class="form-text">Pour vous identifier sur le planning et dans les échanges</div>
    </div>

    <div class="mb-3 full-width">
      <label class="form-label">Nom</label>
      <input class="form-control" formControlName="nom" placeholder="Ex: Connor">
      @if (benevoleForm.get('nom')?.hasError('required')) {
      <div class="invalid-feedback d-block">Le nom est obligatoire</div>
      }
      @if (benevoleForm.get('nom')?.hasError('minlength')) {
      <div class="invalid-feedback d-block">C'est un peu court comme nom!</div>
      }
      <div class="form-text">Pour vous identifier sur le planning et dans les échanges</div>
    </div>





    <div class="mb-3 full-width">
      <label class="form-label">Email</label>
      <input class="form-control" type="email" formControlName="email" placeholder="Ex: mon_mail_a_moi@gmail.com">
      @if (benevoleForm.get('email')?.hasError('email')) {
      <div class="invalid-feedback d-block">Le format est incorrecte</div>
      }
      @if (benevoleForm.get('email')?.hasError('required')) {
      <div class="invalid-feedback d-block">L'email est obligatoire</div>
      }
      <div class="form-text">C'est le contact privilégié pour échanger avec vous</div>
    </div>

    @if (!benevoleForm.get('telephone')?.disabled) {
    <div class="mb-3 full-width">
      <label class="form-label">Téléphone</label>
      <input class="form-control" formControlName="telephone" placeholder="Ex: 06 95 48 32 45 45 98 78 97 45 31 56">
      <div class="form-text">Votre numéro de téléphone, si il est demandé c'est que les organisateurs en auront
        besoin</div>
    </div>
    }


  </form>

</div>
<div class="modal-footer">
  <button class="btn btn-outline-primary" (click)="cancel()">Annuler</button>
  <button class="btn btn-outline-primary" (click)="accept()">Ajouter</button>
</div>
