@if (evenement; as currentEvenement) {
@for (event of [currentEvenement]; track event.id) {
@if (getScreenWidth>500) {
<div class="row marge small">
  <div class="col-4">
    @if (evenement) {
    <app-connexion 
    [benevole]="benevole"
    [evenement]="evenement"
    >
    </app-connexion>
    }
  </div>
  <div class="col-4">
    @if (evenement) {
    <app-planning [benevole]="benevole" [evenement]="evenement">
    </app-planning>
    }
  </div>
  <div class="col-4">
    @if (evenement) {
    <app-info [evenement]="evenement">
    </app-info>
    }
  </div>
</div>
}
@else {
<div class="nav nav-tabs mb-3">
  <section class="card card-body mb-3">
    <h2 class="h5" >

      <span class="app-icon" [ngClass]="{'pulse':clignotage}" fontIcon="attribution"></span>
    </h2>
    @if (evenement) {
      <app-connexion 
      [benevole]="benevole"
      [evenement]="evenement"
      (actionEmitter)="isBenevoleExiste($event)"
      >
      </app-connexion>
    }
  </section>
  <section class="card card-body mb-3">
    <h2 class="h5">
      <span class="app-icon" fontIcon="calendar_month"></span>
    </h2>
    @if (evenement) {
    <app-planning
    [benevole]="benevole" 
    [evenement]="evenement"
    (actionEmitter)="isBenevoleExiste($event)"
    >
    </app-planning>
    }
  </section>
  <section class="card card-body mb-3">
    <h2 class="h5">
      <span class="app-icon" fontIcon="info"></span>
    </h2>
    @if (evenement) {
    <app-info [evenement]="evenement">

    </app-info>
    }
  </section>
</div>
}
}
}
