@if (evenement; as currentEvenement) {
  <div class="page-container">
    <div class="row g-4 align-items-start">
      <div class="col-12 col-lg-4">
        <app-connexion
          [benevole]="benevole"
          [evenement]="currentEvenement"
          (actionEmitter)="isBenevoleExiste($event)">
        </app-connexion>
      </div>

      <div class="col-12 col-lg-4">
        <app-planning
          [benevole]="benevole"
          [evenement]="currentEvenement"
          (actionEmitter)="isBenevoleExiste($event)">
        </app-planning>
      </div>

      <div class="col-12 col-lg-4">
        <app-info [evenement]="currentEvenement"></app-info>
      </div>
    </div>
  </div>
}
