<div *ngIf="!authorize" class="row">
  <div class="col-sm-6">
    <div class="input-group mb-3 ">
      <div class="input-group-prepend">
        <span class="input-group-text">Mot de passe</span>
      </div>
      <input type="text" [(ngModel)]="password" class="form-control" id="password" (keyup.enter)="valider(password)">
    </div>
  </div>
  <div class="col-sm-3">
    <div class="input-group mb-3 ">
      <button type="button" class="btn btn-block btn-warning" (click)="valider(password)">
        Valider</button>
    </div>
  </div>
</div>


<div *ngIf="authorize" class="row">
  <div class="col-sm-12 ">
    <div class="alert alert-success">
      <strong>
        {{benevoles.length}} bénévoles inscrits /
        {{benevolesWithoutChoice.length}} bénévoles n'ont rien choisi /
        {{benevolesToChange.length}} bénévoles à positionner
      </strong>
    </div>
  </div>
</div>

<div *ngIf="authorize" class="row">
  <div class="col-sm-12 ">
    <div class="alert">
      <strong>
        Gestion de l'evenement
      </strong>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <button type="button" class="btn btn-block" [routerLink]="['/gestionbenevoles/', idEvenement]">Gestion des
      Bénévoles</button>
  </div>
  <div class="col-md-6 col-lg-3">
    <button type="button" class="btn btn-block" [routerLink]="['/gestionstands/', idEvenement]">Gestion des
      Stands</button>
  </div>

  <div *ngIf="evenement" class="col-md-6 col-lg-3">
    <button type="button" class="btn btn-block btn-success overflow-visibles" [ngClass]="{'btn-danger':evenement.lock}"
      (click)="updateBlocage()">Je clique
      pour<br />{{evenement.lock?'bloquer le site':'débloquer le site'}}</button>
  </div>

  <div class="col-md-6 col-lg-3">
    <button type="button" class="btn btn-block" (click)="mail = !mail">Envoi de mails</button>
  </div>

  <div *ngIf="mail" class="form-group col-sm-12">

    <select [ngModel]="selectedDeviceObj" (ngModelChange)="getMailingList($event)" class="form-control">
      <option [ngValue]="mailingList" *ngFor="let mailingList of mailingLists">{{mailingList.name}}
      </option>
    </select>

    <input type="text" [(ngModel)]="emailInfo.subject" class="form-control">
    <textarea rows="10" [(ngModel)]="emailInfo.text" class="form-control"></textarea>

    <div class="checkbox">
      <label><input type="checkbox" [(ngModel)]="theCheckbox" (change)="toggleVisibility($event)">Rappel des
        choix des inscrits</label>
    </div>

    <button type="button" class="btn btn-block" (click)="envoiMail(emailInfo)">
      Envoyer ce message à la liste choisi</button>
  </div>

  <div *ngIf="sendingProgress" class="alert alert-success" class="col-md-12">
    <strong>Envoi en cours</strong><br>
    {{counter}} sur {{totalCount}} envoyés

    <div *ngIf="errorMailingList.length > 0">
      Quelques envois ont échoués :
      <div *ngFor="let mail of errorMailingList">
        {{mail}}<br>
      </div>
    </div>
  </div>
</div>

<div *ngIf="authorize" class="row">
  <div class="col-sm-12 ">
    <div class="alert">
      <strong>
        Parametrage de l'evenement
      </strong>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <button type="button" class="btn btn-block" [routerLink]="['/gestionmajstands/', idEvenement]">Maj des
      Stands</button>
  </div>
  <div class="col-md-6 col-lg-3">
    <button type="button" class="btn btn-block" [routerLink]="['/gestionmajcreneaux/', idEvenement]">Maj des
      Creneaux</button>
  </div>
  <div class="col-md-6 col-lg-3">
    <button type="button" class="btn btn-block" [routerLink]="['/gestionmajconfig/', idEvenement]">Maj des
      Infos</button>
  </div>
  <div class="col-md-6 col-lg-3">
    <a href="{{using_address}}"> <img src="{{qrcode}}" /></a>
  </div>

  <div *ngIf="evenement != undefined" class="col-12">
    <input type="file" (change)="fileChangeEvent($event)" accept="image/*">


    <img class="container" *ngIf="evenement.affiche" [src]="evenement.affiche" alt="Affiche">


    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false" 
      [resizeToWidth]="640" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
    </image-cropper>
    <button type="button" class="btn btn-block btn-info" (click)="uploadImage(croppedImage)">Valider cette
      image</button>
  </div>

</div>