body {
    background-color : rgb(217, 217, 217);
    padding-bottom: 200px;
}

[class*='row'] {
    margin: 0px;
    width: 100%;
}

[class*='col-'] {
    float: left;
    padding: 5px;
}

.petite_ecriture {
    font-size: x-small;
}



.bordered {
    background-color: #9b9b9b;
    border-radius: 10px;
    margin: 5px;
    font-size: small;
}

