body {
    background-color: rgb(217, 217, 217);
    padding-bottom: 200px;
}

[class*='row'] {
    margin: 0px;
    width: 100%;
}

[class*='col-'] {
    float: left;
    padding: 5px;
}

.petite_ecriture {
    font-size: x-small;
}



.bordered {
    background-color: #9b9b9b;
    border-radius: 10px;
    margin: 5px;
    font-size: small;
}







.elem {
    border-style: none;
    animation: changeColor 2s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 100ms;
}

@keyframes changeColor {
    0% {
        background-color: #f49a9a;
    }

    10% {
        background-color: #f68888;
    }

    20% {
        background-color: #f46f6f;
    }

    30% {
        background-color: #f75252;
    }

    40% {
        background-color: #f94040;
    }

    50% {
        background-color: #f62b2b;
    }

    60% {
        background-color: #f11a1a;
    }

    70% {
        background-color: #f00606;
    }

    80% {
        background-color: #f32121;
    }

    90% {
        background-color: #f44c4c;
    }

    100% {
        background-color: #ef8181;
    }
}