<div class="row">
      <div class="col-sm-12 ">
            <div class="alert alert-success">
                  <strong>
                        {{benevoles.length}} bénévoles inscrits /
                        {{benevolesWithoutChoice.length}} bénévoles n'ont rien choisi /
                        {{benevolesToChange.length}} bénévoles à positionner
                  </strong>
            </div>
      </div>
</div>

<div class="row">
      <div class="col-sm-3">
            <button type="button" class="btn btn-block" routerLink="/gestionbenevoles">Gestion des
                  Bénévoles</button>
      </div>
      <div class="col-sm-3">
            <button type="button" class="btn btn-block" routerLink="/gestionstands">Gestion des
                  Stands</button>
      </div>
      <div class="col-sm-3">
            <button type="button" class="btn btn-block" routerLink="/gestionmajstands">Maj des
                  Stands</button>
      </div>
      <div class="col-sm-3">
            <button type="button" class="btn btn-block" routerLink="/gestionmajcreneaux">Maj des
                  Creneaux</button>
      </div>
      <div class="col-sm-3">
            <button type="button" class="btn btn-block" routerLink="/gestionmajconfig">Maj des
                  Infos</button>
      </div>
      <div class="col-sm-3">
            <button type="button" class="btn btn-block btn-success overflow-visibles" [ngClass]="{'btn-danger':bloque == 'true'}"
                  (click)="updateBlocage(bloque)">Je clique pour<br />{{bloque == 'true'?'débloquer le site':'bloquer le site'}}</button>
      </div>
      <div class="col-sm-3">
            <button type="button" class="btn btn-block" (click)="mail = !mail">Envoi de mails</button>
      </div>

      <div *ngIf="mail" class="form-group col-sm-3 ">

            <select [ngModel]="selectedDeviceObj" (ngModelChange)="getMailingList($event)" class="form-control">
                  <option [ngValue]="mailingList" *ngFor="let mailingList of mailingLists">{{mailingList.name}}
                  </option>
            </select>

            <input type="text" [(ngModel)]="emailInfo.subject" class="form-control">
            <textarea rows="10" [(ngModel)]="emailInfo.text" class="form-control"></textarea>

            <div class="checkbox">
                  <label><input type="checkbox" [(ngModel)]="theCheckbox" (change)="toggleVisibility($event)">Rappel des
                        choix des inscrits</label>
            </div>

            <button type="button" class="btn btn-block" (click)="envoiMail(emailInfo)">
                  Envoyer ce message à la liste choisi</button>
      </div>




      <div class="col-sm-3">
            <button type="button" class="btn btn-block" (click)="exportAsXLSX()">Télécharger</button>
      </div>

</div>