<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>

  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div [innerHTML]="body"></div>
</div>





<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" *ngIf="consultation"
    (click)="activeModal.dismiss('fermer')">Fermer</button>
  <button type="button" class="btn btn-success" *ngIf="accepter && !consultation"
    (click)="activeModal.close('accepter')">Accepter</button>
  <button type="button" class="btn btn-danger" *ngIf="refuser && !consultation"
    (click)="activeModal.dismiss('refuser')">Refuser</button>

</div>