<div *ngFor="let stand of stands" class="col-sm-12">
  <button type="button" class="btn btn-block btn-secondary" (click)="choix = stand.nom">{{stand.nom}} </button>

  <div class="col-sm-12" *ngIf="choix == stand.nom">
    <div class="row">
      <div *ngFor="let standcroisement of stand.Croisements" class="col-sm-12 dropdown">
        <button type="button" class="btn btn-block btn-secondary dropdown-toggle"
          data-toggle="dropdown">{{standcroisement.Creneau.plage}}</button>
        <div class="row">
          <div *ngFor="let benevole of standcroisement.Benevoles" class="col-sm-12 dropdown">
            {{benevole.prenom}} - {{benevole.nom}} / {{benevole.email}} {{benevole.telephone}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>