.red-icon {
    background-color: rgb(228, 28, 28);
    color: white;
}

.green-icon {
    background-color: green;
    color: white;
}

.blue-icon {
    background-color: #0d6efd;
    color: white;
}

.carre {

    border-radius: 5px;
    box-shadow: -1px -1px 10px -4px rgba(0, 0, 0, 0.38) inset;
    -webkit-box-shadow: -1px -1px 10px -4px rgba(0, 0, 0, 0.38) inset;
    -moz-box-shadow: -1px -1px 10px -4px rgba(0, 0, 0, 0.38) inset;
    margin-top: 10px;
    padding: 5px;

}

.mat-grid-tile-content {
    justify-content: left !important;
}
.title{
justify-content: center;
font-weight: bold;
}