@if (authorize && evenement != undefined) {



<section class="card shadow-sm mb-3">
  <div class="row g-3">
    <div class="col">

      <strong>
        {{stands.length}} créneaux
      </strong>


    </div>
    <div class="col">
      <button class="full-width" type="button" (click)="exportAsXLSX()">Télécharger</button>

    </div>
  </div>
</section>




<div class="row">

  @for (stand of stands | orderBy:'ordre':false; track $index) {
  <div class="col-12 col-md-6 col-lg-4 col-xxl-3">
    <details class="card mb-3">
      <summary class="card-header">
        <span class="fw-semibold">{{stand.nom}}</span>
      </summary>


      <div class="col-sm-12">
        <div class="row">
          @for (standcroisement of stand.croisements | orderBy:'creneau.ordre':false; track standcroisement) {
          <div class="col-sm-12 dropdown">
            <div class="row">
              <div class="col-6">
                <strong>{{standcroisement.creneau.plage}} :
                  ({{standcroisement.benevoles.length}}/{{standcroisement.limite}})</strong>
              </div>
              <div class="col-6">
                <button class="green-icon" type="button" (click)="addBen(standcroisement, stand)">
                  <span class="app-icon">person_add</span>
                </button>
              </div>
            </div>
            @if (standcroisement.benevoles.length > 0) {
            @for (benevole of standcroisement.benevoles | orderBy:'nom':false; track benevole) {

            <div class="row g-3 carre">
              <div class="col title"> {{benevole.prenom}}
                {{benevole.nom}}</div>
              <div class="col"> <button class="red-icon" type="button"
                  (click)="delete(benevole, standcroisement, stand)"><span class="app-icon">delete_forever</span></button></div>
              <div class="col"> email{{benevole.email}}</div>
              <div class="col"> tel{{benevole.telephone}}</div>
            </div>

            }
            }
          </div>

          }


        </div>
      </div>


    </details>
  </div>
  }
</div>
}