

@if (!userExist) {
<section class="card shadow-sm mb-3">
  @if (!evenement.basique) {
  @if (!inconnu) {
  <header class="card-header text-center">
    <h2 class="card-title h5 mb-0"> <strong>Connectez vous :</strong></h2>
  </header>

  <form [formGroup]="formulaire">
    <div class="card-body">
      <div class="mb-3 full-width">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" formControlName="email" placeholder="Ex: mon_mail_a_moi@gmail.com">
        @if (formulaire.get('email')?.hasError('email')) {
        <div class="invalid-feedback d-block">Le format est incorrecte</div>
        }
        @if (formulaire.get('email')?.hasError('required')) {
        <div class="invalid-feedback d-block">L'email est obligatoire</div>
        }
        <div class="form-text">C'est le contact privilégié pour échanger avec vous</div>
      </div>
    </div>


    <div class="card-body">
      <button class="btn btn-primary w-100" type="submit" (click)="find()">Entrer</button>
    </div>
  </form>
  }@else {
  <header class="card-header text-center">
    <h2 class="card-title h5 mb-0"> <strong>Inscrivez vous :</strong></h2>
  </header>
  <div class="card-body">
    Nous ne nous connaissons pas encore. Nous avons simplement besoin de votre nom et prénom pour communiquer plus
    poliement avec vous.
  </div>


  <form [formGroup]="formulaireBenevole">
    <div class="card-body">
      <div class="mb-3 full-width">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" formControlName="email" placeholder="Ex: mon_mail_a_moi@gmail.com">
        @if (formulaire.get('email')?.hasError('email')) {
        <div class="invalid-feedback d-block">Le format est incorrecte</div>
        }
        @if (formulaire.get('email')?.hasError('required')) {
        <div class="invalid-feedback d-block">L'email est obligatoire</div>
        }
        <div class="form-text">C'est le contact pour échanger avec vous</div>
      </div>
    </div>


    <div class="card-body">

      <div class="mb-3 full-width">
        <label class="form-label">Nom</label>
        <input class="form-control" formControlName="nom" placeholder="Ex: Connor">
        @if (formulaireBenevole.get('nom')?.hasError('required')) {
        <div class="invalid-feedback d-block">Les organisateurs en auront besoin !</div>
        }
        @if (formulaireBenevole.get('nom')?.hasError('minlength')) {
        <div class="invalid-feedback d-block">C'est un peu court comme nom!</div>
        }
        <div class="form-text">Pour vous identifier sur le planning et dans les échanges</div>
      </div>

    </div>
    <div class="card-body">

      <div class="mb-3 full-width">
        <label class="form-label">Prenom</label>
        <input class="form-control" formControlName="prenom" placeholder="Ex: Célia">
        @if (formulaireBenevole.get('prenom')?.hasError('required')) {
        <div class="invalid-feedback d-block">Les organisateurs en auront besoin !</div>
        }
        @if (formulaireBenevole.get('prenom')?.hasError('minlength')) {
        <div class="invalid-feedback d-block">C'est un peu court comme prenom!</div>
        }
        <div class="form-text">Pour vous identifier sur le planning et dans les échanges</div>
      </div>
    </div>
    <div class="card-body">

      @if (!formulaireBenevole.get('telephone')?.disabled) {
      <div class="mb-3 full-width">
        <label class="form-label">Téléphone</label>
        <input class="form-control" formControlName="telephone">
        @if (formulaireBenevole.get('nom')?.hasError('required')) {
          <div class="invalid-feedback d-block">Les organisateurs en auront besoin !</div>
          }
        <div class="form-text">Un numéro de tel pour être plus efficace!</div>
      </div>
      }
    </div>
    <div class="card-body">


      <button class="btn btn-primary w-100" type="submit" (click)="addBenevole()">Je m'inscris</button>
    </div>
  </form>
  }
  } @else {
    <form [formGroup]="formulaireBenevole">
      <div class="card-body">
        <div class="mb-3 full-width">
          <label class="form-label">Prenom</label>
          <input class="form-control" formControlName="prenom" placeholder="Ex: Sarah">
          @if (formulaireBenevole.get('prenom')?.hasError('required')) {
            <div class="invalid-feedback d-block">Les organisateurs en auront besoin !</div>
          }
          @if (formulaireBenevole.get('prenom')?.hasError('minlength')) {
            <div class="invalid-feedback d-block">C'est un peu court comme prenom!</div>
          }
          <div class="form-text">Pour vous identifier sur le planning et dans les échanges</div>
        </div>
      </div>


      <div class="card-body">
        <button class="btn btn-primary w-100" type="submit" (click)="connexionBasique()">Entrer</button>
      </div>
    </form>
  }


</section>
}

@if (userExist) {
<section class="card shadow-sm mb-3">
  <header class="card-header text-center">
    <div class="d-flex align-items-center justify-content-between gap-2">
      <h2 class="card-title h5 mb-0">Bonjour {{ formulaireBenevole.value.prenom }}</h2>
      <button class="btn btn-sm btn-danger shadow-sm" type="button" (click)="exit()">Quitter</button>
    </div>

  </header>

  @if(benevole && benevole.croisements != undefined && benevole.croisements.length == 0){
  <div class="card-body">
    <strong>Ajoutez un moment de bénévolat !</strong><br>
    Cliquez sur le planing puis choisissez le créneau qui vous convient.<br>
    Vous pouvez en choisir plusieurs !
  </div>
  }
  @if(benevole && benevole.croisements != undefined && benevole.croisements.length > 0){
  <ul> <div class="card-body">
      @for (croisement of benevole.croisements | orderBy:'creneau.ordre':false; track $index) {
      <li>
        {{croisement.creneau.plage}} :
        {{croisement.stand.nom == "tous"?"N'importe quel stand":croisement.stand.nom}}
        <span class="red" (click)="retraitCroisement(croisement)">X</span>
      </li>
      }
    </div>
  </ul>
  }

</section>
}

@if (evenement.afficherMessageAccueil) {
  <section class="card shadow-sm mb-3">
    <header class="card-header text-center">
      <h2 class="card-title h5 mb-0"> <strong>Informations :</strong></h2>
    </header>
    <div class="card-body">
      <div [innerHtml]="evenement.messageAccueil"></div>
    </div>
  </section>
}

<section class="card shadow-sm mb-3">
  <header class="card-header text-center">
    <h2 class="card-title h5 mb-0"> <strong>Informations :</strong></h2>

  </header>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <b>Organisateur</b>
      </div>


      <div class="col-12">
        {{evenement.contact}}
      </div>


      <div class="col-12">
        {{evenement.contactEmail}}
      </div>


      <div class="col-12">
        {{evenement.contactTel}}
      </div>


    </div>
  </div>

</section>
