

@if (!userExist) {
<mat-card appearance="raised">

  @if (!inconnu) {
  <mat-card-header>
    <mat-card-title> <strong>Connectez vous :</strong></mat-card-title>
  </mat-card-header>

  <form [formGroup]="formulaire">

    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex: mon_mail_a_moi@gmail.com">
        @if (formulaire.get('email')?.hasError('email')) {
        <mat-error>Le format est incorrecte</mat-error>
        }
        @if (formulaire.get('email')?.hasError('required')) {
        <mat-error>L'email est obligatoire</mat-error>
        }
        <mat-hint>C'est le contact privilégié pour échanger avec vous</mat-hint>
      </mat-form-field>
    </mat-card-content>


    <mat-card-content>
      <button class="full-width" mat-stroked-button type="submit" (click)="find()">Entrer</button>
    </mat-card-content>
  </form>
  }@else {
  <mat-card-header>
    <mat-card-title> <strong>Inscrivez vous :</strong></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Nous ne nous connaissons pas encore. Nous avons simplement besoin de votre nom et prénom pour communiquer plus
    poliement avec vous.
  </mat-card-content>


  <form [formGroup]="formulaireBenevole">
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex: mon_mail_a_moi@gmail.com">
        @if (formulaire.get('email')?.hasError('email')) {
        <mat-error>Le format est incorrecte</mat-error>
        }
        @if (formulaire.get('email')?.hasError('required')) {
        <mat-error>L'email est obligatoire</mat-error>
        }
        <mat-hint>C'est le contact pour échanger avec vous</mat-hint>
      </mat-form-field>
    </mat-card-content>


    <mat-card-content>

      <mat-form-field class="full-width">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nom" placeholder="Ex: Connor">
        @if (formulaireBenevole.get('nom')?.hasError('required')) {
        <mat-error>Les organisateurs en auront besoin !</mat-error>
        }
        @if (formulaireBenevole.get('nom')?.hasError('minlength')) {
        <mat-error>C'est un peu court comme nom!</mat-error>
        }
        <mat-hint>Pour vous identifier sur le planning et dans les échanges</mat-hint>
      </mat-form-field>

    </mat-card-content>
    <mat-card-content>

      <mat-form-field class="full-width">
        <mat-label>Prenom</mat-label>
        <input matInput formControlName="prenom" placeholder="Ex: Sarah">
        @if (formulaireBenevole.get('prenom')?.hasError('required')) {
        <mat-error>Les organisateurs en auront besoin !</mat-error>
        }
        @if (formulaireBenevole.get('prenom')?.hasError('minlength')) {
        <mat-error>C'est un peu court comme prenom!</mat-error>
        }
        <mat-hint>Pour vous identifier sur le planning et dans les échanges</mat-hint>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>

      @if (!formulaireBenevole.get('telephone')?.disabled) {
      <mat-form-field class="full-width">
        <mat-label>Téléphone</mat-label>
        <input matInput formControlName="telephone">
        @if (formulaireBenevole.get('nom')?.hasError('required')) {
          <mat-error>Les organisateurs en auront besoin !</mat-error>
          }
        <mat-hint>Un numéro de tel pour être plus efficace!</mat-hint>
      </mat-form-field>
      }
    </mat-card-content>
    <mat-card-content>


      <button class="full-width" mat-stroked-button type="submit" (click)="addBenevole()">Je m'inscris</button>
    </mat-card-content>
  </form>
  }



</mat-card>
}

@if (userExist) {
<mat-card appearance="raised">
  <mat-card-header>
    <mat-card-title>Bonjour {{ formulaireBenevole.value.prenom }}</mat-card-title>
  </mat-card-header>

  @if(benevole && benevole.croisements != undefined && benevole.croisements.length == 0){
  <mat-card-content>
    <strong>Ajoutez un moment de bénévolat !</strong><br>
    Cliquez sur le planing puis choisissez le créneau qui vous convient.<br>
    Vous pouvez en choisir plusieurs !
  </mat-card-content>
  }
  @if(benevole && benevole.croisements != undefined && benevole.croisements.length > 0){
  <ul> <mat-card-content>
      @for (croisement of benevole.croisements | orderBy:'creneau.ordre':false; track $index) {
      <li>
        {{croisement.creneau.plage}} :
        {{croisement.stand.nom == "tous"?"N'importe quel stand":croisement.stand.nom}}
        <span class="red" (click)="retraitCroisement(croisement)">X</span>
      </li>
      }
    </mat-card-content>
  </ul>
  }

</mat-card>
}

@if (evenement.afficherMessageAccueil) {
  <mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title> <strong>Informations :</strong></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div [innerHtml]="evenement.messageAccueil"></div>
    </mat-card-content>
  </mat-card>
}

<mat-card appearance="raised">
  <mat-card-header>
    <mat-card-title> <strong>Informations :</strong></mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-12">
        <b>Organisateur</b>
      </div>


      <div class="col-12">
        {{evenement.contact}}
      </div>


      <div class="col-12">
        {{evenement.contactEmail}}
      </div>


      <div class="col-12">
        {{evenement.contactTel}}
      </div>


    </div>
  </mat-card-content>

</mat-card>
