<div class="row">
  <div class="col-sm-6 ">

    <div class="row" *ngIf="new">
      <div class="col-sm-12 ">
        C'est le contact qui sera affiché sur le site pour les bénévoles
      </div>
      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Email : </span>
          </div>
          <input type="text" [(ngModel)]="event.contactEmail" class="form-control" id="contactemail">
        </div>
      </div>
      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Nom : </span>
          </div>
          <input type="text" [(ngModel)]="evenement.contactLastName" class="form-control" id="contactnom">
        </div>
      </div>
      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Prenom : </span>
          </div>
          <input type="text" [(ngModel)]="evenement.contactFirstName" class="form-control" id="contactprenom">
        </div>
      </div>

      <div class="col-sm-12 ">
       C'est le titre qui s'affichera en en-tête du site
      </div>
      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Nom de l'évenement : </span>
          </div>
          <input type="text" [(ngModel)]="evenement.eventName" class="form-control" id="eventname">
        </div>
      </div>

      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">date Debut : </span>
          </div>
          <input type="text" [(ngModel)]="evenement.startDate" class="form-control" id="startDate">
        </div>
      </div>

      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">date de fin : </span>
          </div>
          <input type="text" [(ngModel)]="evenement.endDate" class="form-control" id="endDate">
        </div>
      </div>

      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">mot de passe : </span>
          </div>
          <input type="text" [(ngModel)]="evenement.password" class="form-control" id="password">
        </div>
      </div>


      <div class="col-sm-12 ">
        <button type="button" class="btn btn-block btn-danger" (click)="validate()">Je valide la création de mon gestionnaire évenement</button>
      </div>

    </div>


    <div class="row" *ngIf="!new && ok">
      <div class="col-sm-12 ">
        Le gestionnaire de l'évenement {{nom_evenement}} à bien été créé!
      </div>

      <div class="col-sm-12 ">
        L'adresse d'utilisation est :
        {{using_address}}
      </div>

      <div class="col-sm-12 ">
        L'adresse de gestion est :
        {{managing_address}}
      </div>

    </div>

    <div class="row" *ngIf="!new && !ok">
      <div class="col-sm-12 ">
        La création à échoué veuillez contacter un administrateur
      </div>
    </div>
  </div>
</div>