<nav class="navbar navbar-expand-md bg-dark navbar-dark ">

  <div class="mx-auto flex-column" id="navbar">
    <ul class="navbar-nav mx-auto w-100 d-flex justify-content-center">
      <li class="nav-item gros_titre">
        {{evenement.eventName}}
      </li>
    </ul>
  </div>

  <div *ngIf="isGestion">
    <button type="button" class="btn btn-block btn-warning" [routerLink]="['/gestion/', evenement.id]">Gestion</button>
  </div>
</nav>
<!-- main app container -->

<div class="container">
  <router-outlet></router-outlet>
</div>
<nav *ngIf="canSendAlerte" class="navbar navbar-expand-md bg-dark navbar-dark">

  <div class="navbar-expand m-auto navbar-text">
    {{evenement.contact}} - {{evenement.contactTel}} - {{evenement.contactEmail}}
  </div>

  <div *ngIf="!mail">
    <button type="button" class="btn btn-block btn-danger" (click)="mail = !mail">Nous envoyer un email</button>
  </div>
  <div *ngIf="mail">
    <textarea rows="3" [(ngModel)]="text" placeholder="Un problème, une question, une remarque,..."
      class="form-control"></textarea>
    <button type="button" class="btn btn-block btn-danger" (click)="envoiMail(text)">Envoi de l'email</button>
  </div>
</nav>