.gros_titre {
  font-size: xx-large;
  color: honeydew;
}


img {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

@media only screen and (max-width: 600px) {
  img {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 5px;
    width: 100px;
  }

  .gros_titre {
    text-align: center;
    font-size: X-large;
    color: honeydew;
  }
}


