<div [style.backgroundColor]="evenement?.couleurBandeau" class="d-flex">

  <div class="p-2 flex-fill align-self-start text-center ">
    <div class="g1" [style.color]="evenement?.couleurFond">{{evenement?.eventName}}</div>



</div>


<div class="d-flex">
  <a  href="{{evenement?.sitepersourl}}">
    <img [src]="logo">
  </a>
  <div class=" flex-column">

   
    <div class="p-2 align-right">
      <mat-icon [style.color]="evenement?.couleurFond" [routerLink]="['/',evenement?.id,'gestion']"
        fontIcon="settings"></mat-icon>
    </div>
    <div class="p-2 align-right">
      <a href="https://alod.fr/tuto-benevoles/" target="_blank">
        <mat-icon [style.color]="evenement?.couleurFond" fontIcon="help"></mat-icon>
      </a>
    </div>
  </div>

</div>

</div>
<router-outlet />