.dropdown-item{
    cursor: pointer;
}

.btn-nopadding{
    margin-left: 10px;
    padding: 0px;
}
.dropdown-menu { max-height: 300px; overflow-y: auto; min-width: 100% !important; background-attachment: local, local, scroll, scroll; }

.dropdown-header-title{
    font-size: 1rem;
    font-weight: bold;
    color: #000;
}
