<div *ngIf="authorize" class="row">
  <div class="col-sm-6">
    <div class="alert alert-success">
      <strong>{{benevoles.length}} bénévoles</strong>
    </div>
  </div>
  <div class="col-sm-6">
    <button (click)="exportAsXLSX()" type="button" class="btn btn-block btn-warning">Télécharger la liste des
      bénévoles</button>
  </div>
</div>
<div *ngIf="authorize" class="row">
  <div *ngFor="let benevole of benevoles  | orderBy:'nom':false" class="col-md-6 col-lg-3">
    <button type="button" class="btn btn-block btn-info" (click)="toggle(benevole.id)">
      {{benevole.nom}} {{benevole.prenom}} <fa-icon  class="btn-nopadding" *ngIf="benevole.commentaire" [icon]="attention "></fa-icon> <fa-icon  class="btn-nopadding" *ngIf="benevole.reponse" [icon]="envelope"></fa-icon></button>
    <div class="col-sm-12" *ngIf="toggleList.indexOf(benevole.id)>-1">
      <div class="row">
        <div class="col-sm-10">
          <input type="text" [(ngModel)]="benevole.email" (blur)="modify(benevole)" class="form-control" id="ordre">
          <input *ngIf="evenement.needtel" type="text" [(ngModel)]="benevole.telephone" (blur)="modify(benevole)" class="form-control" id="ordre">

        </div>
        <div class="col-sm-2">
          <button type="button" class="btn-nopadding btn btn-block btn-danger" (click)="delete(benevole.id)">X</button>
        </div>
        <div class="col-sm-12">
          Commentaire : {{benevole.commentaire}}
        </div>
        <div class="col-sm-12">
          <textarea [(ngModel)]="benevole.reponse" rows="3" cols="20"></textarea>
        </div>
        <div class="col-sm-12">
          <button type="button" class="btn btn-block btn-info" (click)="send(benevole)">Envoyer la réponse</button>
        </div>

        <div *ngFor="let benecroisement of benevole.croisements | orderBy:'stand.ordre':false"
          class="col-sm-12 dropdown">
          <button type="button" class="btn btn-block btn-warning dropdown-toggle"
            data-toggle="dropdown">{{benecroisement.stand.nom == "tous"?"N'importe quel
            stand":benecroisement.stand.nom}}
            à {{benecroisement.creneau.plage}}</button>
          <div class="dropdown-menu scrollable-menu">
            <div *ngFor="let stand of stands  | orderBy:'ordre':false">
              <h1 class="dropdown-header dropdown-header-title">{{stand.nom == "tous"?"N'importe quel stand":stand.nom}}</h1>
              <a class="dropdown-item" *ngFor="let croisement of stand.croisements  | orderBy:'creneau.ordre':false"
                (click)="choisir(benevole, benecroisement, croisement)">
                {{croisement.creneau.plage}} ({{croisement.benevoles.length}}/{{croisement.limite}})</a>
            </div>

            <a class="dropdown-item" (click)="choisir(benevole, benecroisement, null)">
              <font color="red"><b>Suppression</b></font>
            </a>
          </div>

        </div>
        <div class="col-sm-12 dropdown">
          <button type="button" class="btn btn-block btn-warning dropdown-toggle"
            data-toggle="dropdown">Nouveau</button>


            


        <div class="dropdown-menu scrollable-menu">
          <div *ngFor="let stand of stands  | orderBy:'ordre':false">
            <h2 class="dropdown-header">{{stand.nom == "tous"?"N'importe quel stand":stand.nom}}</h2>
            <a class="dropdown-item" *ngFor="let croisement of stand.croisements  | orderBy:'creneau.ordre':false"
              (click)="choisir(benevole, null, croisement)">
              {{croisement.creneau.plage}} ({{croisement.benevoles.length}}/{{croisement.limite}})</a>
          </div>

        </div>

        </div>


      </div>
    </div>
  </div>
</div>