<div class="row">
      <div class="col-sm-12">

            <button type="button" class="btn btn-block btn-danger" routerLink="/gestionbenevoles">Gestion des Bénévoles</button>
      </div>
      <div class="col-sm-12">
            <button type="button" class="btn btn-block btn-danger" routerLink="/gestionstands">Gestion des Stands</button>
      </div>
      <div class="col-sm-12">
            <button type="button" class="btn btn-block btn-danger" (click)="envoiRappel()">Envoi d'un mail de rappel</button>
      </div>
      <div class="col-sm-12">
            <button type="button" class="btn btn-block btn-danger" (click)="updateBloque(bloque)">{{bloque == 'true'?'Débloquer le site':'Bloquer le site'}}</button>
      </div>

      {{bloque}}
</div>