@if (authorize) {

<div #backGround class="row marge">


  <div class="col-md-4">


    <section class="card shadow-sm mb-3">


      <div class="card-body">
        <button class="full-width" type="button" [routerLink]="['benevoles']">Remplissage par
          bénévole</button>
      </div>
    </section>

    <section class="card shadow-sm mb-3">

      <div class="card-body">
        <button class="full-width" type="button" [routerLink]="['stands']">Remplissage par
          stand</button>
      </div>
    </section>

    <section class="card shadow-sm mb-3">
      <div class="card-body">
        <button class="full-width" type="button" [routerLink]="['majconfig']">Paramètrage de
          l'évènement</button>
      </div>
    </section>

    <section class="card shadow-sm mb-3">
      <div class="card-body">
        <button class="full-width" type="button" (click)="logout()">Se déconnecter</button>
      </div>
    </section>

    <section class="card shadow-sm mb-3">
      <div class="card-body">
        @if (evenement) {
        <button class="full-width" type="button" [ngClass]="{'red':evenement.lock}"
          (click)="updateBlocage(evenement)">Je clique
          pour<br />{{evenement.lock?'bloquer le site':'débloquer le site'}}</button>

        }
      </div>
    </section>


  </div>


  <div class="col-md-4">

    <section class="card shadow-sm mb-3">


      <div class="card-body">
        <button class="full-width" type="button" [routerLink]="['majstands']">Gestion des
          Stands</button>
      </div>
    </section>

    <section class="card shadow-sm mb-3">
      <div class="card-body">
        <button class="full-width" type="button" [routerLink]="['majcreneaux']">Gestion des
          Creneaux</button>
      </div>
    </section>

    <section class="card shadow-sm mb-3">


      <div class="card-body">

        <button class="full-width" type="button" (click)="mail = !mail">Envoi de mails</button>
      </div>
      <div class="card-body">
        @if (mail) {
        <div class="form-group col-sm-12">


          <div class="mb-3 full-width">
            <label class="form-label">Stand</label>
            <select class="form-select"  [(ngModel)]="emailInfo.to">
              @for (stand of emailStands; track stand) {
              <option [value]="stand.benevoles">{{ stand.nom }} ({{ stand.benevoles.length }})</option>
              }
            </select>
          </div>

          <div class="mb-3 example-full-width">
            <label class="form-label">Objet email</label>
            <input class="form-control" type="text"  [(ngModel)]="emailInfo.subject">

          </div>



          <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [toolbar]="toolbar" [editor]="editor"> </ngx-editor-menu>
            <ngx-editor [editor]="editor" [(ngModel)]="emailInfo.text" [disabled]="false"  [placeholder]="'Corps de l\'email...'"></ngx-editor>
          </div>

          <label class="form-check-label checkboxn">
            <input class="form-check-input" type="checkbox" [(ngModel)]="emailInfo.rappel">
            Rappel des choix des bénévoles
          </label>

          <button class="full-width" type="button" (click)="envoiMail()">
            Envoyer ce message à la liste choisi</button>
        </div>
        }
      </div>
    </section>




  </div>


  <div class="col-md-4">




    <section class="card shadow-sm mb-3">
      <a href="{{using_address}}">
        {{using_address}}
      </a>
      <img src="{{qrcode}}" />

    </section>




  </div>


</div>

}
