@if (authorize && evenement) {

<div #backGround class="row marge">


  <div class="col-md-4">


    <mat-card appearance="raised">


      <mat-card-content>
        <button class="full-width" mat-stroked-button type="button" [routerLink]="['benevoles']">Remplissage par
          bénévole</button>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="raised">

      <mat-card-content>
        <button class="full-width" mat-stroked-button type="button" [routerLink]="['stands']">Remplissage par
          stand</button>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="raised">
      <mat-card-content>
        <button class="full-width" mat-stroked-button type="button" [routerLink]="['majconfig']">Paramètrage de
          l'évènement</button>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="raised">
      <mat-card-content>
        @if (evenement) {
        <button class="full-width" mat-stroked-button type="button" [ngClass]="{'red':evenement.lock}"
          (click)="updateBlocage(evenement)">Je clique
          pour<br />{{evenement.lock?'bloquer le site':'débloquer le site'}}</button>

        }
      </mat-card-content>
    </mat-card>


  </div>


  <div class="col-md-4">

    <mat-card appearance="raised">


      <mat-card-content>
        <button class="full-width" mat-stroked-button type="button" [routerLink]="['majstands']">Gestion des
          Stands</button>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="raised">
      <mat-card-content>
        <button class="full-width" mat-stroked-button type="button" [routerLink]="['majcreneaux']">Gestion des
          Creneaux</button>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="raised">


      <mat-card-content>

        <button class="full-width" mat-stroked-button type="button" (click)="mail = !mail">Envoi de mails</button>
      </mat-card-content>
      <mat-card-content>
        @if (mail) {
        <div class="form-group col-sm-12">


          <mat-form-field class="full-width">
            <mat-label>Stand</mat-label>
            <mat-select  [(ngModel)]="emailInfo.to">
              @for (stand of emailStands; track stand) {
              <mat-option [value]="stand.benevoles">{{ stand.nom }} ({{ stand.benevoles.length }})</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Objet email</mat-label>
            <input type="text"  [(ngModel)]="emailInfo.subject"  matInput>

          </mat-form-field>



          <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [toolbar]="toolbar" [editor]="editor"> </ngx-editor-menu>
            <ngx-editor [editor]="editor" [(ngModel)]="emailInfo.text" [disabled]="false"  [placeholder]="'Corps de l\'email...'"></ngx-editor>
          </div>

          <mat-checkbox class="checkboxn" [(ngModel)]="emailInfo.rappel">Rappel des
            choix des bénévoles</mat-checkbox>

          <button class="full-width" mat-stroked-button type="button" (click)="envoiMail()">
            Envoyer ce message à la liste choisi</button>
        </div>
        }
      </mat-card-content>
    </mat-card>




  </div>


  <div class="col-md-4">




    <mat-card appearance="raised">
      <a href="{{using_address}}">
        {{using_address}}
      </a>
      <img mat-card-image src="{{qrcode}}" />

    </mat-card>




  </div>


</div>

}
