/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.module {
  padding: 10px !important;
  text-align: center;
  color: #EEE;
  min-height: 200px;
  max-height: 200px;
  min-width: 120px;
  background-color: dimgrey;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px !important;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: rgb(74, 117, 78);
}