<nav class="navbar navbar-expand-md bg-dark navbar-dark ">

  <div class="mx-auto flex-column" id="navbar">
    <ul class="navbar-nav mx-auto w-100 d-flex justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="{{adresse}}">{{titleText}}</a>
      </li>
    </ul>


  </div>
</nav>
<!-- main app container -->

<div class="container">
  <router-outlet></router-outlet>
</div>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">

  <div class="navbar-expand m-auto navbar-text">
    <div *ngFor="let user of users ">
      {{user.name}} {{user.firstname}} - {{user.telephone}} - {{user.email}}
    </div>
  </div>


  <div *ngIf="!mail">
    <button type="button" class="btn btn-block btn-danger" (click)="mail = !mail">Nous envoyer un email</button>
  </div>
  <div *ngIf="mail">
    <textarea rows="3" [(ngModel)]="email.text" placeholder="Un problème, une question, une remarque,..."
      class="form-control"></textarea>
    <button type="button" class="btn btn-block btn-danger" (click)="envoiMail(email)">Envoi de l'email</button>
  </div>
</nav>