<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand mx-auto" href="#">
    <h2>Fête de l'école de l'Ouche Dinier 2018/2019</h2>
  </a>

</nav>

<!-- main app container -->

<div class="container" style="padding-bottom: 70px;">
  <router-outlet></router-outlet>
</div>

<!-- credits -->
<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    <button type="button" class="btn btn-block btn-info btn-lg" (click)="find(benevole)">Envoyer un mail</button>
  </div>
  <div class="navbar-expand m-auto navbar-text">
    <button type="button" class="btn btn-block btn-info btn-lg" (click)="find(benevole)">programme de la journée</button>
  </div>
</nav>