<div class="container">
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand mx-auto" href="#">
      Fête de l'école de l'Ouche Dinier
    </a>

  </nav>

  <!-- main app container -->


  <router-outlet></router-outlet>

  <nav class="navbar navbar-dark bg-dark fixed-bottom">

    <div class="navbar-expand m-auto navbar-text">
      <div *ngFor="let user of users ">
        {{user.name}} {{user.firstname}} - {{user.telephone}} - {{user.email}}
      </div>
    </div>


    <div *ngIf="!mail">
      <button type="button" class="btn btn-block btn-danger" (click)="mail = !mail">nous envoyer un email</button>
    </div>
    <div *ngIf="mail">
      <textarea rows="3" [(ngModel)]="email.text" placeholder="un problème, une question, une remarque,..."
        class="form-control"></textarea>
      <button type="button" class="btn btn-block btn-danger" (click)="envoiMail(email)">envoi du message</button>
    </div>
  </nav>
</div>