<div class="row">
  <div class="col-sm-4 ">
    <div class="input-group mb-3 input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">Nom : </span>
      </div>
      <input type="text" [(ngModel)]="newStand.nom" class="form-control" id="nom">
    </div>
  </div>
  <div class="col-sm-4 ">
    <div class="input-group mb-3 input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">Info-Bulle : </span>
      </div>
      <input type="text" [(ngModel)]="newStand.bulle" class="form-control" id="bulle">
    </div>
  </div>
  <div class="col-sm-2 ">
    <div class="input-group mb-3 input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">Ordre : </span>
      </div>
      <input type="text" [(ngModel)]="newStand.ordre" class="form-control" id="ordre">
    </div>
  </div>
  <div class="col-sm-2 ">

    <button type="button" class="btn btn-block btn-info" (click)="ajout(newStand)">Ajouter un nouveau stand</button>
  </div>
</div>

<div class="row">
  <div *ngFor="let stand of stands | orderBy:'ordre':false " class="col-sm-4">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Nom : </span>
      </div>
      <input type="text" [(ngModel)]="stand.nom" class="form-control" id="nom">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Info-Bulle : </span>
      </div>
      <input type="text" [(ngModel)]="stand.bulle" class="form-control" id="bulle">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Ordre : </span>
      </div>
      <input type="text" [(ngModel)]="stand.ordre" class="form-control" id="ordre">
    </div>
    <div class="input-group mb-3">
      <button type="button" class="btn btn-block" [ngClass]="{'btn-danger':stand.etat == 1 }"
        (click)="stand.etat = 1">Sans choix</button>
      <button type="button" class="btn btn-block" [ngClass]="{'btn-danger':stand.etat == 2 }"
        (click)="stand.etat = 2">Activité</button>
      <button type="button" class="btn btn-block" [ngClass]="{'btn-danger':stand.etat == 3 }"
        (click)="stand.etat = 3">Jeux sans choix</button>
      <button type="button" class="btn btn-block" [ngClass]="{'btn-danger':stand.etat == 4 }"
        (click)="stand.etat = 4">Jeux</button>
        <button type="button" class="btn btn-block" [ngClass]="{'btn-danger':stand.etat == 5 }"
        (click)="stand.etat = 5">Prépa</button>
    </div>

    <button type="button" class="btn btn-block btn-warning" (click)="update(stand)">Mise à jour du stand</button>
    <button type="button" class="btn btn-block btn-danger" (click)="delete(stand)">Supprimer le stand</button>
    <button type="button" class="btn btn-block btn-info" (click)="ajouterCroisement= stand.id">Ajouter une
      Dispo</button>

    <div class="row" *ngIf="ajouterCroisement == stand.id">
      <div class="col-sm-12 ">
        <div *ngFor="let creneau of creneaux | orderBy:'ordre':false " class="">
          <button *ngIf="!existInCroisements(stand.Croisements, creneau.id)" type="button"
            class="btn btn-block btn-secondary col-sm-4" (click)="ajoutCroisement(stand, creneau)">{{creneau.plage}}
          </button>
        </div>
      </div>
    </div>

    <div *ngFor="let croisement of stand.Croisements | orderBy:'Creneau.ordre':false">
      <div class="row bordered">
        <div class="input-group col-sm-10">
          <span class="input-group-text">{{croisement.Creneau.plage}}</span>
        </div>
        <div class="input-group col-sm-2">
          <button type="button" class="btn btn-block btn-danger" (click)="deleteCroisement(croisement)">X</button>
        </div>

        <div class="input-group col-sm-6">
          <span class="input-group-text">Limite : </span>
          <input type="text" [(ngModel)]="croisement.limite" class="form-control" id="limite">
        </div>

        <div class="input-group col-sm-3">
          <button type="button" class="btn btn-block" [ngClass]="{'btn-danger':croisement.besoin}"
            (click)="croisement.besoin = !croisement.besoin">Besoin</button>
        </div>

        <div class="input-group col-sm-3">
          <button type="button" class="btn btn-block btn-warning" (click)="updateCroisement(croisement)">MAJ</button>
        </div>

      </div>
    </div>
  </div>
</div>