<div *ngIf="nouveau && !exist" class="row">
  <div class="col-sm-12 ">
    <div class="alert alert-success">
      <strong>Bonjour,</strong><br>
      nous avons besoin de quelques informations personnelles pour faciliter l'organisation de la fête de
      l'école.<br>
      <i>(Les informations personnelles seront détruites après la fête)</i>
    </div>
  </div>
</div>
<div *ngIf="!validation" class="row">
  <div class="col-sm-3 ">
  </div>
  <div class="col-sm-6 ">
    <div class="row" *ngIf="!exist">
      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Email : </span>
          </div>
          <input type="text" [(ngModel)]="benevole.email" class="form-control" id="email" (keyup.enter)="find()">
        </div>
      </div>
    </div>
    <div *ngIf="!exist" class="row">
      <div class="col-sm-12 ">
        <button *ngIf="new " type="button" class="btn btn-block btn-info btn-lg " (click)="find()">Entrer</button>
        <button *ngIf="!new && !nouveau " type="button" class="btn btn-block btn-warning btn-lg" (click)="find()">Je me
          suis trompé dans mon email, j'essaie à nouveau</button>

        <button *ngIf="!new && !nouveau " type="button" class="btn btn-block btn-info btn-lg"
          (click)="nouveau = true">Je
          suis nouveau, je souhaiterai m'inscrire</button>
      </div>
    </div>
    <div *ngIf="nouveau && !exist" class="row">

      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Nom : </span>
          </div>
          <input type="text" [(ngModel)]="benevole.nom" class="form-control" id="lastname">
        </div>
      </div>
      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Prenom : </span>
          </div>
          <input type="text" [(ngModel)]="benevole.prenom" class="form-control" id="firstname">
        </div>
      </div>
      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Telephone : </span>
          </div>
          <input type="text" [(ngModel)]="benevole.telephone" class="form-control" id="phone">
        </div>
      </div>

      <div class="col-sm-12 ">
        <button type="button" class="btn btn-block btn-info btn-lg" (click)="subscribe()">Je m'inscris</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3 ">
  </div>
</div>
<div class="row">
  <div class="col-sm-12 ">
    <div class="alert alert-warning">
      <strong>Attention</strong><br>
      Les mails issus de l'application proviennent de l'adresse alod.section.fete@gmail.com,<br>
      Ce sont des mails automatiques et sont tres souvent placés dans votre dossier SPAM
    </div>
  </div>
</div>