@if (evenement.afficherMessagePlanning) {
  <section class="card shadow-sm mb-3">
    <header class="card-header text-center">
      <h2 class="card-title h5 mb-0"><strong>Informations :</strong></h2>
    </header>
    <div class="card-body">
      <div [innerHtml]="evenement.messagePlanning"></div>
    </div>
  </section>
}
@if (preparatifs.length > 0) {

  <section class="card shadow-sm mb-3" [style.backgroundColor]="evenement.couleurCard">
    <header class="card-header text-center">
      <h2 class="card-title h5 mb-0" [style]="'font-family: '+evenement.titleFont" [style.color]="evenement.couleurText">Les
        préparatifs
      </h2>
    </header>
    <div class="card-body">


      @for (stand of preparatifs | orderBy:'ordre':false; track $index) {

        <details class="card mb-3" [style.backgroundColor]="evenement.couleurBloc">
          <summary class="card-header" [style.backgroundColor]="evenement.couleurTitre" #title>
            <span class="fw-semibold" [style]="'font-family: '+evenement.titleFont">{{ stand.nom }} ({{ stand.placeOccupe }}
              /{{ stand.placeTotal }})
            </span>
          </summary>
          {{ stand.soustitre }}
          <div class="row">
            @for (croisement of stand.croisements| orderBy:'creneau.ordre':false; track $index) {
              <div class="col-6 col-lg-4 col-xxl-4 selectionCol">
                <button class="selection"
                        [ngClass]="{'selected':croisement.selected,'complet':croisement.benevoles.length >= croisement.limite}"
                        (click)="choisir(croisement)">

                  <span>{{ croisement.creneau.plage }}</span><br>
                  <span>({{ croisement.benevoles.length + '\/' + croisement.limite }})</span>
                  @if (evenement.afficherBenevoles && croisement.benevoles.length > 0) {
                    @for (benevole of croisement.benevoles | orderBy:'nom':false; track $index) {
                      {{ benevole.prenom }} {{ evenement.basique?'':benevole.nom.charAt(0).toUpperCase()+'.' }}<br>
                    }
                  }
                </button>
              </div>
            }
          </div>

        </details>
      }
    </div>
  </section>
}

@if (stands && stands.length > 0) {

  <section class="card shadow-sm mb-3" [style.backgroundColor]="evenement.couleurCard">
    <header class="card-header text-center">
      <h2 class="card-title h5 mb-0" [style]="'font-family: '+evenement.titleFont" [style.color]="evenement.couleurText">Les
        stands
      </h2>
    </header>
    <div class="card-body">


      @for (stand of activites | orderBy:'ordre':false; track $index) {

        <details class="card mb-3" [style.backgroundColor]="evenement.couleurBloc">
          <summary class="card-header" [style.backgroundColor]="evenement.couleurTitre" #title>
            <span class="fw-semibold" [style]="'font-family: '+evenement.titleFont">{{ stand.nom }} ({{ stand.placeOccupe }}
              /{{ stand.placeTotal }})
            </span>

          </summary>
          {{ stand.soustitre }}
          <div class="row">
            @for (croisement of stand.croisements| orderBy:'creneau.ordre':false; track $index) {
              <div class="col-6 col-lg-4 col-xxl-4 selectionCol">
                <button class="selection"
                        [ngClass]="{'complet':croisement.benevoles.length >= croisement.limite,'selected':croisement.selected}"
                        (click)="choisir(croisement)">

                  <span>{{ croisement.creneau.plage }}</span><br><span>({{ croisement.benevoles.length + '\/' + croisement.limite }}
                  )</span>
                  <br>
                  @if (evenement.afficherBenevoles && croisement.benevoles.length > 0) {
                    @for (benevole of croisement.benevoles | orderBy:'nom':false; track $index) {
                      {{ benevole.prenom }} {{ evenement.basique?'':benevole.nom.charAt(0).toUpperCase()+'.' }}<br>
                    }
                  }
                </button>
              </div>
            }
          </div>

        </details>
      }
    </div>
  </section>
}


@if (sansChoix.length > 0) {
  <section class="card shadow-sm mb-3" [style.backgroundColor]="evenement.couleurCard">
    <header class="card-header text-center">
      <h2 class="card-title h5 mb-0" [style]="'font-family: '+evenement.titleFont" [style.color]="evenement.couleurText">Les
        dispos
      </h2>
    </header>
    <div class="card-body">

      <div class="row">
        @for (croisement of sansChoix | orderBy:'creneau.ordre':false; track $index) {
          <div class="col-6 col-lg-4 col-xxl-4 selectionCol">
            <button class="selection"
                    [ngClass]="{'selected':croisement.selected,'complet':croisement.benevoles.length >= croisement.limite}"
                    (click)="choisir(croisement)">

              <span>{{ croisement.creneau.plage }}</span><br><span>({{ croisement.benevoles.length + '\/' + croisement.limite }}
              )</span>
              @if (evenement.afficherBenevoles && croisement.benevoles.length > 0) {
                @for (benevole of croisement.benevoles | orderBy:'nom':false; track $index) {
                  {{ benevole.prenom }} {{ evenement.basique?'':benevole.nom.charAt(0).toUpperCase()+'.' }}<br>
                }
              }
            </button>
          </div>
        }
      </div>

    </div>
  </section>
}

@if (besoins.length > 0) {
  <section class="card shadow-sm mb-3" [style.backgroundColor]="evenement.couleurCard">
    <header class="card-header text-center">
      <h2 class="card-title h5 mb-0" [style]="'font-family: '+evenement.titleFont" [style.color]="evenement.couleurText">Les
        besoins
      </h2>
    </header>
    <div class="card-body">


      <div class="row">
        @for (croisement of besoins | orderBy:'creneau.ordre':false; track $index) {
          <div class="col-6 col-lg-4 col-xxl-4 selectionCol">
            <button class="selection"
                    [ngClass]="{'selected':croisement.selected,'complet':croisement.benevoles.length >= croisement.limite}"
                    (click)="choisir(croisement)">

              <span>{{ croisement.creneau.plage }}</span><br><span>({{ croisement.benevoles.length + '\/' + croisement.limite }}
              )</span>
              @if (evenement.afficherBenevoles && croisement.benevoles.length > 0) {
                @for (benevole of croisement.benevoles | orderBy:'nom':false; track $index) {
                  {{ benevole.prenom }} {{ evenement.basique?'':benevole.nom.charAt(0).toUpperCase()+'.' }}<br>
                }
              }
            </button>
          </div>
        }
      </div>


    </div>
  </section>
}


@if (postparatifs.length > 0) {
  <section class="card shadow-sm mb-3" [style.backgroundColor]="evenement.couleurCard">
    <header class="card-header text-center">
      <h2 class="card-title h5 mb-0" [style]="'font-family: '+evenement.titleFont" [style.color]="evenement.couleurText">Les
        postparatifs
      </h2>
    </header>
    <div class="card-body">

      @for (stand of postparatifs | orderBy:'ordre':false; track $index) {

        <details class="card mb-3" [style.backgroundColor]="evenement.couleurBloc">
          <summary class="card-header" [style.backgroundColor]="evenement.couleurTitre" #title>
            <span class="fw-semibold" [style]="'font-family: '+evenement.titleFont">{{ stand.nom }} ({{ stand.placeOccupe }}
              /{{ stand.placeTotal }})
            </span>
          </summary>
          {{ stand.soustitre }}
          <div class="row">
            @for (croisement of stand.croisements| orderBy:'creneau.ordre':false; track $index) {
              <div class="col-6 col-lg-4 col-xxl-4 selectionCol">
                <button class="selection"
                        [ngClass]="{'selected':croisement.selected,'complet':croisement.benevoles.length >= croisement.limite}"
                        (click)="choisir(croisement)">

                  <span>{{ croisement.creneau.plage }}</span><br><span>({{ croisement.benevoles.length + '\/' + croisement.limite }}
                  )</span>
                  <br>
                  @if (evenement.afficherBenevoles && croisement.benevoles.length > 0) {
                    @for (benevole of croisement.benevoles | orderBy:'nom':false; track $index) {
                      {{ benevole.prenom }} {{ evenement.basique?'':benevole.nom.charAt(0).toUpperCase()+'.' }}<br>
                    }
                  }
                </button>
              </div>
            }
          </div>

        </details>
      }
    </div>
  </section>
}
