@if (evenement.afficherMessagePlanning) {
  <section class="card shadow-sm mb-3">
    <header class="card-header text-center">
      <h2 class="card-title h5 mb-0"><strong>Informations :</strong></h2>
    </header>
    <div class="card-body">
      <div [innerHtml]="evenement.messagePlanning"></div>
    </div>
  </section>
}
@if (preparatifs.length > 0) {

  <app-event-card title="Les préparatifs" [evenement]="evenement">


      @for (stand of preparatifs | orderBy:'ordre':false; track $index) {

        <details class="card mb-3" [style.backgroundColor]="evenement.couleurBloc">
          <summary class="card-header" [style.backgroundColor]="evenement.couleurTitre" #title>
            <span class="fw-semibold" [style]="'font-family: '+evenement.titleFont">{{ stand.nom }}</span>
            <span class="card-header-count" [style]="'font-family: '+evenement.titleFont">{{ stand.placeOccupe }}/{{ stand.placeTotal }}</span>
          </summary>
          {{ stand.soustitre }}
          <div class="row">
            @for (croisement of stand.croisements| orderBy:'creneau.ordre':false; track $index) {
              <div class="col-6 col-lg-4 col-xxl-4 selectionCol">
                <app-selection-button
                  [croisement]="croisement"
                  [evenement]="evenement"
                  (selection)="choisir($event)">
                </app-selection-button>
              </div>
            }
          </div>

        </details>
      }
  </app-event-card>
}

@if (stands && stands.length > 0) {

  <app-event-card title="Les stands" [evenement]="evenement">


      @for (stand of activites | orderBy:'ordre':false; track $index) {

        <details class="card mb-3" [style.backgroundColor]="evenement.couleurBloc">
          <summary class="card-header" [style.backgroundColor]="evenement.couleurTitre" #title>
            <span class="fw-semibold" [style]="'font-family: '+evenement.titleFont">{{ stand.nom }}</span>
            <span class="card-header-count" [style]="'font-family: '+evenement.titleFont">{{ stand.placeOccupe }}/{{ stand.placeTotal }}</span>

          </summary>
          {{ stand.soustitre }}
          <div class="row">
            @for (croisement of stand.croisements| orderBy:'creneau.ordre':false; track $index) {
              <div class="col-6 col-lg-4 col-xxl-4 selectionCol">
                <app-selection-button
                  [croisement]="croisement"
                  [evenement]="evenement"
                  (selection)="choisir($event)">
                </app-selection-button>
              </div>
            }
          </div>

        </details>
      }
  </app-event-card>
}


@if (sansChoix.length > 0) {
  <app-event-card title="Les dispos" [evenement]="evenement">

      <div class="row">
        @for (croisement of sansChoix | orderBy:'creneau.ordre':false; track $index) {
          <div class="col-6 col-lg-4 col-xxl-4 selectionCol">
            <app-selection-button
              [croisement]="croisement"
              [evenement]="evenement"
              (selection)="choisir($event)">
            </app-selection-button>
          </div>
        }
      </div>

  </app-event-card>
}

@if (besoins.length > 0) {
  <app-event-card title="Les besoins" [evenement]="evenement">


      <div class="row">
        @for (croisement of besoins | orderBy:'creneau.ordre':false; track $index) {
          <div class="col-6 col-lg-4 col-xxl-4 selectionCol">
            <app-selection-button
              [croisement]="croisement"
              [evenement]="evenement"
              (selection)="choisir($event)">
            </app-selection-button>
          </div>
        }
      </div>


  </app-event-card>
}


@if (postparatifs.length > 0) {
  <app-event-card title="Les postparatifs" [evenement]="evenement">

      @for (stand of postparatifs | orderBy:'ordre':false; track $index) {

        <details class="card mb-3" [style.backgroundColor]="evenement.couleurBloc">
          <summary class="card-header" [style.backgroundColor]="evenement.couleurTitre" #title>
            <span class="fw-semibold" [style]="'font-family: '+evenement.titleFont">{{ stand.nom }}</span>
            <span class="card-header-count" [style]="'font-family: '+evenement.titleFont">{{ stand.placeOccupe }}/{{ stand.placeTotal }}</span>
          </summary>
          {{ stand.soustitre }}
          <div class="row">
            @for (croisement of stand.croisements| orderBy:'creneau.ordre':false; track $index) {
              <div class="col-6 col-lg-4 col-xxl-4 selectionCol">
                <app-selection-button
                  [croisement]="croisement"
                  [evenement]="evenement"
                  (selection)="choisir($event)">
                </app-selection-button>
              </div>
            }
          </div>

        </details>
      }
  </app-event-card>
}
