.selection {
  margin-top: 5px;

  width: 100%;
}
.selected{
  background-color:  rgb(207, 241, 192)!important;
}
.complet {
  background-color:rgb(204, 204, 204)!important;
}


mat-card-title {
  padding: 10px;
}