.password-reset {
  display: flex;
  justify-content: center;
  padding: 3rem 1rem;
}

.card {
  max-width: 430px;
  width: 100%;
}

form, .mb-3 {
  display: flex;
  flex-direction: column;
}

.error {
  color: #b00020;
}
