<div class="container">
  <div *ngIf="validation" class="row">
    <div class="col-sm-12 ">
      <div class="alert alert-success">
        <strong>Merci de votre participation,</strong><br>
        Vous pouvez revenir quand vous le souhaitez pour modifier vos choix<br>
        en vous connectant (<a href="{{using_address}}">sur le site d'inscription</a>)<br>
        Vous pouvez fermer cette fenêtre
      </div>
    </div>

    <div class="col-sm-12 ">
      <div class="alert alert-warning">
        <strong>Attention</strong><br>
        Les mails issus de l'application proviennent de l'adresse benevoles.nepasrepondregmail.com,<br>
        Ce sont des mails automatiques et sont tres souvent placés dans votre dossier SPAM<br>
        Comme précisé dans l'adresse mail, il ne sert à rien d'y répondre, veuillez utiliser le contact de cet
        évènement:<br>
        {{evenement.contact}} - {{evenement.contactEmail}}
      </div>
    </div>
  </div>

  
  <div class="col-sm-12 " *ngIf="evenement.afficherMessage" class="alert alert-success">
    <div [innerHtml]="evenement.message"></div>
  </div>

  <div *ngIf="!validation" class="row">
    <div class="col-sm-6 order-sm-1 ">
      <div class="row">
        <div *ngIf="plein" class="col-sm-12 ">
          <div class="alert alert-danger">
            <strong>Attention!</strong> <br>
            Cette plage horaire est déjà complète,<br>
            Choisissez en une autre ;)
          </div>
        </div>
        <div class="col-sm-12" *ngIf="preparatifs && preparatifs.length > 0">
          <div class="row bordered">

            <div class="col-sm-12 ">
              <button type="button" class="btn btn-block btn-info" (click)="choix = 'preparatifs'">Les préparatifs<div
                  class="petite_ecriture">(avant
                  l'évenement)</div></button>
            </div>

            <div class="col-sm-12" *ngIf="choix == 'preparatifs'">
              <div class="row">
                <div *ngFor="let stand of preparatifs | orderBy:'ordre':false" class="col-sm-12">
                  <button type="button" class="btn btn-block btn-warning" title="{{stand.bulle}}"
                    (click)="choixStand = stand.nom">{{stand.nom}}<br />
                    <div class="petite_ecriture">(encore {{stand.placeRestante}} places)</div>
                  </button>
                  <div class="row" *ngIf="choixStand == stand.nom">
                    <div *ngFor="let croisement of stand.croisements | orderBy:'creneau.ordre':false" class="col-sm-4">
                      <button type="button" class="btn btn-block "
                        [ngClass]="{'btn-success':croisement.selected === true, 'btn-danger':croisement.benevoles.length >= croisement.limite}"
                        (click)="choisir(croisement)">{{croisement.creneau.plage}}<br>
                        {{(croisement.limite - croisement.benevoles.length)==0?'Complet':(croisement.limite -
                        croisement.benevoles.length)>1?'il reste '+(croisement.limite - croisement.benevoles.length)+'
                        places':'il reste une place'}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="row bordered">
            <div *ngIf="stands && stands.length > 0" class="col-sm-12 ">
              <button type="button" class="btn btn-block btn-info" (click)="choix = 'stand'">Je préfère choisir mon
                stand</button>
            </div>
            <div class="col-sm-12" *ngIf="choix == 'stand'">
              <div class="row">
                <div *ngFor="let stand of stands | orderBy:'ordre':false" class="col-sm-12">
                  <button type="button" class="btn btn-block  " title="{{stand.bulle}}"
                    (click)="choixStand = stand.nom">{{stand.nom}}<br />
                    <div class="petite_ecriture">(encore {{stand.placeRestante}} places)</div>
                  </button>
                  <div class="row" *ngIf="choixStand == stand.nom">
                    <div *ngFor="let croisement of stand.croisements | orderBy:'creneau.ordre':false" class="col-sm-4">
                      <button type="button" class="btn btn-block "
                        [ngClass]="{'btn-success':croisement.selected === true, 'btn-danger':croisement.benevoles.length >= croisement.limite}"
                        (click)="choisir(croisement)">{{croisement.creneau.plage}}<br>
                        {{(croisement.limite - croisement.benevoles.length)==0?'Complet':(croisement.limite -
                        croisement.benevoles.length)>1?'il reste '+(croisement.limite - croisement.benevoles.length)+'
                        places':'il reste une place'}}

                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div *ngIf="sansChoix && sansChoix.length > 0" class="col-sm-12 ">
              <button type="button" class="btn btn-block btn-info" (click)="choix = 'heure'">Le stand m'est égal mais je
                suis disponible à :</button>
            </div>

            <div class="col-sm-12" *ngIf="choix == 'heure'">
              <div class="row">
                <div *ngFor="let croisement of sansChoix | orderBy:'creneau.ordre':false" class="col-sm-4">
                  <button type="button"
                    [ngClass]="{'btn-success':croisement.selected === true, 'btn-danger':croisement.benevoles.length >= croisement.limite}"
                    class="btn btn-block " (click)="choisir(croisement)">{{croisement.creneau.plage}}</button>
                </div>
              </div>
            </div>


            <div *ngIf="besoins && besoins.length > 0" class="col-sm-12 ">
              <button type="button" class="btn btn-block btn-info" (click)="choix = 'besoin'">Là où vous en avez
                besoin</button>
            </div>


            <div class="col-sm-12" *ngIf="choix == 'besoin'">
              <div class="row">
                <div *ngFor="let croisement of besoins | orderBy:'creneau.ordre':false" class="col-sm-4">
                  <button type="button"
                    [ngClass]="{'btn-success':croisement.selected === true, 'btn-danger':croisement.benevoles.length >= croisement.limite}"
                    title="{{croisement.stand.bulle}}" class="btn btn-block "
                    (click)="choisir(croisement)">{{croisement.stand.nom}}<br>
                    {{croisement.creneau.plage}}<br>
                    {{(croisement.limite - croisement.benevoles.length)==0?'Complet':(croisement.limite -
                    croisement.benevoles.length)>1?'il reste '+(croisement.limite - croisement.benevoles.length)+'
                    places':'il
                    reste une place'}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 " *ngIf="postparatifs && postparatifs.length > 0">
          <div class="row bordered">
            <div class="col-sm-12 ">
              <button type="button" class="btn btn-block btn-info" (click)="choix = 'postparatifs'">Les postparatifs
                <div class="petite_ecriture">(après l'évenement)</div>
              </button>
            </div>

            <div class="col-sm-12" *ngIf="choix == 'postparatifs'">
              <div class="row">
                <div *ngFor="let stand of postparatifs | orderBy:'ordre':false" class="col-sm-12">
                  <button type="button" class="btn btn-block btn-warning" title="{{stand.bulle}}"
                    (click)="choixStand = stand.nom">{{stand.nom}}<br />
                    <div class="petite_ecriture">(encore {{stand.placeRestante}} places)</div>
                  </button>
                  <div class="row" *ngIf="choixStand == stand.nom">
                    <div *ngFor="let croisement of stand.croisements | orderBy:'creneau.ordre':false" class="col-sm-4">
                      <button type="button" class="btn btn-block "
                        [ngClass]="{'btn-success':croisement.selected === true, 'btn-danger':croisement.benevoles.length >= croisement.limite}"
                        (click)="choisir(croisement)">{{croisement.creneau.plage}}<br>
                        {{(croisement.limite - croisement.benevoles.length)==0?'Complet':(croisement.limite -
                        croisement.benevoles.length)>1?'il reste '+(croisement.limite - croisement.benevoles.length)+'
                        places':'il reste une place'}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>



























    <div class="col-sm-6 ">
      <div class="row">




        <div *ngIf="stands.length > 0" class="col-sm-12 ">
          <h4>Votre planning :</h4>

          <div *ngIf="benevole && benevole.croisements != undefined && benevole.croisements.length == 0"
            class="alert alert-success">
            <strong>Pour ajouter un moment de bénévolat :</strong><br>
            Cliquez sur la liste puis choisissez le créneau qui vous convient.<br>
            Vous pouvez en choisir plusieurs !
          </div>
          <div *ngIf="benevole && benevole.croisements != undefined && benevole.croisements.length > 0">
            <div *ngFor="let croisement of benevole.croisements | orderBy:'creneau.ordre':false" class="col-md-12">
              <i class="fa fa-trash" (click)="choisir(croisement)"></i>
              {{croisement.creneau.plage}} :
              {{croisement.stand.nom == "tous"?"N'importe quel stand":croisement.stand.nom}}
            </div>
          </div>
        </div>

        <div *ngIf="benevole" class="col-sm-12 ">
          <h4>Un message à nous transmettre ?</h4>
          <textarea rows="5" [(ngModel)]="benevole.commentaire" class="form-control">
            </textarea>
        </div>

        <div *ngIf="benevole && benevole.reponse" class="col-sm-12 ">
          <h4>Reponse :</h4>
          <input type="text" [(ngModel)]="benevole.reponse" readonly class="form-control">
        </div>
        <div class="col-sm-12 ">

          <button *ngIf="getScreenWidth > 570 && !validation" type="button" [ngClass]="{'elem':clignotage}"
            class="btn btn-lg btn-danger btn-block elem " (click)="validate()">Valider l'inscription</button>

        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-bottom">

  <button *ngIf="getScreenWidth < 570 && !validation" type="button" [ngClass]="{'elem':clignotage}"
    class="btn btn-lg btn-danger btn-block elem " (click)="validate()">Valider l'inscription</button>

  <div class="navbar-expand m-auto navbar-text">
    <fa-icon class="btn-nopadding" [icon]="faEnvelope"></fa-icon> {{evenement.contact}} - {{evenement.contactEmail}}
    {{evenement.contactTel}}

    
  </div>


</nav>