<div *ngIf="!authorize" class="row">
  <div class="col-sm-6">
    <div class="input-group mb-3 ">
      <div class="input-group-prepend">
        <span class="input-group-text">Mot de passe</span>
      </div>
      <input type="text" [(ngModel)]="password" class="form-control" id="password" (keyup.enter)="valider(password)">
    </div>
  </div>
  <div class="col-sm-3">
    <div class="input-group mb-3 ">
      <button type="button" class="btn btn-block btn-warning" (click)="valider(password)">
        Valider</button>
    </div>
  </div>
</div>


<div *ngIf="authorize" class="row">
  <div class="col-sm-6">
    <div class="alert alert-success">
      <strong>{{benevoles.length}} bénévoles</strong>
    </div>
  </div>
  <div class="col-sm-6">
    <button (click)="exportAsXLSX()" type="button" class="btn btn-block btn-warning">Télécharger la liste des
      bénévoles</button>
  </div>
</div>
<div *ngIf="authorize" class="row">
  <div *ngFor="let benevole of benevoles  | orderBy:'nom':false" class="col-sm-6">
    <button type="button" class="btn btn-block btn-info" (click)="choixBenevole(benevole.email)">
      {{benevole.nom}} {{benevole.prenom}}</button>
    <div class="col-sm-12" *ngIf="choix == benevole.email">
      <div class="row">
        <div class="col-sm-12">
          {{benevole.email}} - {{benevole.telephone}}
        </div>
        <div class="col-sm-12">
          Commentaire : {{benevole.commentaire}}
        </div>
        <div class="col-sm-12">
          <textarea [(ngModel)]="benevole.reponse" rows="4" cols="40"></textarea>
        </div>
        <div class="col-sm-12">
          <button type="button" class="btn btn-block btn-info" (click)="send(benevole)">Envoyer la réponse au
            commentaire</button>
        </div>

        <div *ngFor="let benecroisement of benevole.croisements | orderBy:'stand.ordre':false"
          class="col-sm-12 dropdown">
          <button type="button" class="btn btn-block btn-warning dropdown-toggle"
            data-toggle="dropdown">{{benecroisement.stand.nom == "tous"?"N'importe quel
            stand":benecroisement.stand.nom}}
            à {{benecroisement.creneau.plage}}</button>
          <div class="dropdown-menu scrollable-menu">
            <a class="dropdown-item" *ngFor="let croisement of croisements  | orderBy:'creneau.ordre':false"
              (click)="choisir(benevole, benecroisement, croisement)">{{croisement.stand.nom == "tous"?"N'importe quel
              stand":croisement.stand.nom}}
              à {{croisement.creneau.plage}} ({{croisement.benevoles.length}}/{{croisement.limite}})</a>
            <a class="dropdown-item" (click)="choisir(benevole, benecroisement, null)">
              <font color="red"><b>Suppression</b></font>
            </a>
          </div>

        </div>
        <div class="col-sm-12 dropdown">
          <button type="button" class="btn btn-block btn-warning dropdown-toggle"
            data-toggle="dropdown">Nouveau</button>
          <div class="dropdown-menu scrollable-menu">
            <a class="dropdown-item" *ngFor="let croisement of croisements  | orderBy:'creneau.ordre':false"
              (click)="choisir(benevole, null, croisement)">{{croisement.stand.nom == "tous"?"N'importe quel
              stand":croisement.stand.nom}}
              à {{croisement.creneau.plage}} ({{croisement.benevoles.length}}/{{croisement.limite}})</a>
          </div>
        </div>

        <div class="col-sm-12">
          <button type="button" class="btn btn-block btn-danger" (click)="delete(benevole.id)">
            Supprimer </button>
        </div>
      </div>
    </div>
  </div>
</div>