/* You can add global styles to this file, and also import other style files */

body {background-color : rgb(217, 217, 217);}

.white {
    color:rgb(124, 124, 124);
}

.container {

    max-width: 1500px;

}

.fa-heart {
    color: hotpink;
  }

  a { cursor: pointer }

h2 {
    font-weight: bold;
    
    font-family: "Comic Sans MS";
    text-shadow: 2px 2px rgb(0, 0, 0);
}