@if (authorize && evenement != undefined) {


<div class="row marge">




  <div class="col-sm-12">
    <section class="card shadow-sm mb-3 padding-top" [formGroup]="formulaireNewCreneau">
      <div class="row marge">
        <div class="col-12 col-md-5">
          <div class="mb-3 full-width">
            <label class="form-label">Ordre</label>
            <input class="form-control" type="text" formControlName="ordre">

            @if (formulaireNewCreneau.get('ordre')?.hasError('required')) {
            <div class="invalid-feedback d-block">Le numéro d'ordre est obligatoire</div>
            }
          </div>

        </div>

        <div class="col-12 col-md-5">
          <div class="mb-3 full-width">
            <label class="form-label">Plage horaire</label>
            <input class="form-control" type="text" formControlName="plage">

            @if (formulaireNewCreneau.get('plage')?.hasError('required')) {
            <div class="invalid-feedback d-block">La plage horaire est obligatoire</div>
            }
          </div>
        </div>
        <div class="col-12 col-md-2">
          <button class="blue-icon" type="button" (click)="ajout(formulaireNewCreneau)"><span class="app-icon">save</span>
          </button>
        </div>



      </div>

    </section>
  </div>
  @for (creneau of creneaux | orderBy:'ordre':false; track $index) {

  <div class="col-12 col-md-6 col-lg-4 col-xxl-3">
    <section class="card shadow-sm mb-3 padding-top" [formGroup]="creneau.formulaire">
      <div class="row marge">

        <div class="col-6">
          <div class="mb-3 full-width">
            <label class="form-label">Ordre</label>
            <input class="form-control" type="text" formControlName="ordre" >

            @if (creneau.formulaire.get('ordre')?.hasError('required')) {
            <div class="invalid-feedback d-block">Le numéro d'ordre est obligatoire</div>
            }
          </div>
        </div>

        <div class="col-3">
          <button class="green-icon" type="button" [disabled]="!creneau.formulaire.touched"
            (click)="update(creneau.formulaire)"><span class="app-icon">save</span>
          </button>
        </div>
        <div class="col-3">

          <button class="red-icon" type="button"
            (click)="delete(creneau)"><span class="app-icon">delete_forever</span></button>
        </div>


        <div class="col-12">
          <div class="mb-3 full-width">
            <label class="form-label">Plage horaire</label>
            <input class="form-control" type="text" formControlName="plage" >

            @if (creneau.formulaire.get('plage')?.hasError('required')) {
            <div class="invalid-feedback d-block">La plage horaire est obligatoire</div>
            }
          </div>
        </div>
      </div>

    </section>
  </div>
  }

</div>
}