@if (authorize && evenement != undefined) {


<div class="row marge">




  <div class="col-sm-12">
    <mat-card class="padding-top" appearance="raised" [formGroup]="formulaireNewCreneau">
      <div class="row marge">
        <div class="col-12 col-md-5">
          <mat-form-field class="full-width">
            <mat-label>Ordre</mat-label>
            <input type="text" matInput formControlName="ordre">

            @if (formulaireNewCreneau.get('ordre')?.hasError('required')) {
            <mat-error>Le numéro d'ordre est obligatoire</mat-error>
            }
          </mat-form-field>

        </div>

        <div class="col-12 col-md-5">
          <mat-form-field class="full-width">
            <mat-label>Plage horaire</mat-label>
            <input type="text" matInput formControlName="plage">

            @if (formulaireNewCreneau.get('plage')?.hasError('required')) {
            <mat-error>La plage horaire est obligatoire</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-md-2">
          <button class="blue-icon" mat-fab type="button" (click)="ajout(formulaireNewCreneau)"><mat-icon>save</mat-icon>
          </button>
        </div>



      </div>

    </mat-card>
  </div>
  @for (creneau of creneaux | orderBy:'ordre':false; track $index) {

  <div class="col-12 col-md-6 col-lg-4 col-xxl-3">
    <mat-card  class="padding-top" appearance="raised" [formGroup]="creneau.formulaire">
      <div class="row marge">

        <div class="col-6">
          <mat-form-field class="full-width">
            <mat-label>Ordre</mat-label>
            <input type="text" matInput formControlName="ordre" (blur)="update(creneau)">

            @if (creneau.formulaire.get('ordre')?.hasError('required')) {
            <mat-error>Le numéro d'ordre est obligatoire</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-3">
          <button class="green-icon" mat-fab type="button" [disabled]="!creneau.formulaire.touched"
            (click)="update(creneau.formulaire)"><mat-icon>save</mat-icon>
          </button>
        </div>
        <div class="col-3">

          <button class="red-icon" mat-fab type="button"
            (click)="delete(creneau)"><mat-icon>delete_forever</mat-icon></button>
        </div>


        <div class="col-12">
          <mat-form-field class="full-width">
            <mat-label>Plage horaire</mat-label>
            <input type="text" matInput formControlName="plage" (blur)="update(creneau)">

            @if (creneau.formulaire.get('plage')?.hasError('required')) {
            <mat-error>La plage horaire est obligatoire</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

    </mat-card>
  </div>
  }

</div>
}