<div *ngIf="validation" class="row">
  <div class="col-sm-12 ">
    <div class="alert alert-success">
      <strong>Merci de votre participation,</strong><br>
      Vous pouvez revenir quand vous le souhaitez pour modifier vos choix<br>
      Vous pouvez fermer cette fenêtre
    </div>
  </div>
</div>
<div *ngIf="nouveau && !exist" class="row">
  <div class="col-sm-12 ">
    <div class="alert alert-success">
      <strong>Bienvenue,</strong><br>
      nous avons besoin de quelques informations personnelles pour faciliter l'organisation de la fête de
      l'école.<br>
      <i>(Les informations personnelles seront détruites après la fête)</i>
    </div>
  </div>
</div>
<div *ngIf="!validation" class="row">
  <div class="col-sm-6">
    <div class="row" *ngIf="!exist">
      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Email : </span>
          </div>
          <input type="text" [(ngModel)]="benevole.email" class="form-control">
        </div>
      </div>
    </div>
    <div *ngIf="!exist" class="row">
      <div class="col-sm-12 ">
        <button *ngIf="new " type="button" class="btn btn-block btn-info btn-lg " (click)="find()">Entrer</button>
        <button *ngIf="!new && !nouveau " type="button" class="btn btn-block btn-warning btn-lg" (click)="find()">Je me
          suis trompé dans mon email, je réessais</button>

        <button *ngIf="!new && !nouveau " type="button" class="btn btn-block btn-info btn-lg"
          (click)="nouveau = true">Je
          suis nouveau, je souhaiterai m'inscrire</button>
      </div>
    </div>
    <div *ngIf="nouveau && !exist" class="row">

      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Nom : </span>
          </div>
          <input type="text" [(ngModel)]="benevole.nom" class="form-control">
        </div>
      </div>
      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Prenom : </span>
          </div>
          <input type="text" [(ngModel)]="benevole.prenom" class="form-control">
        </div>
      </div>
      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Telephone : </span>
          </div>
          <input type="text" [(ngModel)]="benevole.telephone" class="form-control">
        </div>
      </div>

      <div class="col-sm-12 ">
        <button type="button" class="btn btn-block btn-info btn-lg" (click)="subscribe()">Je m'inscris</button>
      </div>

    </div>
    <div *ngIf="exist" class="row">
      <div class="col-sm-12 ">
        <h4>Votre planning :</h4>

        <div *ngIf="chevauchement" class="alert alert-danger">
          <strong>Attention!</strong> Vous vous êtes inscrit sur au moins 2 creneaux identique
          <br>(si vous êtes plusieurs, précisez le dans le commentaire).
        </div>

        <div *ngIf=" benevole.Croisements.length > 0">
          <div *ngFor="let croisement of benevole.Croisements | orderBy:'Creneau.ordre':false" class="col-md-12">
            {{croisement.Stand.nom == "tous"?"N'importe quel stand":croisement.Stand.nom}} à
            {{croisement.Creneau.plage}}
          </div>
        </div>
      </div>






      <div class="col-sm-12 ">
        <h4>Commentaire :</h4>
        <textarea rows="5" [(ngModel)]="benevole.commentaire" class="form-control">
            </textarea>
      </div>

      <div *ngIf="benevole.reponse" class="col-sm-12 ">
        <h4>Reponse :</h4>
        <input type="text" [(ngModel)]="benevole.reponse" readonly class="form-control">
      </div>

      <div class="col-sm-12 ">
        <h4>Préparation de plat(s) (sucré et/ou salé):</h4>
        <textarea rows="5" [(ngModel)]="benevole.gateaux" placeholder="par exemple: une tarte au pomme et une quiche"
          class="form-control">
          </textarea>
      </div>


      <div class="col-sm-12 ">
        <button type="button" class="btn btn-block btn-danger" (click)="validate()">Je valide mon
          inscription</button>
      </div>


    </div>
  </div>
  <div class="col-sm-6">
    <div class="row" *ngIf="exist ">
      <div *ngIf="plein" class="col-sm-12 ">
        <div class="alert alert-danger">
          <strong>Attention!</strong> <br>
          Cette plage horaire est déjà complète,<br>
          Choisissez en une autre ;)
        </div>
      </div>

      <div class="col-sm-12 ">
        <button type="button" class="btn btn-block btn-warning" title="{{vendredi.Stand.bulle}}"
          (click)="choisir(vendredi)">{{vendredi.Stand.nom}} - {{vendredi.Creneau.plage}}</button>
      </div>

      <div class="col-sm-12 ">
        <button type="button" class="btn btn-block btn-info" (click)="choix = 'stand'">Je préfère choisir mon
          stand</button>
      </div>

      <div class="col-sm-12" *ngIf="choix == 'stand'">
        <div class="row">
          <div *ngFor="let stand of stands | orderBy:'ordre':false" class="col-sm-11">
            <button type="button" class="btn btn-block btn-secondary " title="{{stand.bulle}}"
              (click)="choixStand = stand.nom">{{stand.nom}}</button>
            <div class="row" *ngIf="choixStand == stand.nom">
              <div class="col-sm-12 ">
                {{stand.bulle}}
              </div>
              <div *ngFor="let croisement of stand.Croisements | orderBy:'Creneau.ordre':false" class="col-sm-4">
                <button type="button" class="btn btn-block btn-secondary"
                  [ngClass]="{'btn-success':croisement.selected === true, 'btn-danger':croisement.Benevoles.length >= croisement.limite}"
                  (click)="choisir(croisement)">{{croisement.Creneau.plage}}<br>({{croisement.Benevoles.length}}/{{croisement.limite}})</button>
              </div>
            </div>
          </div>
        </div>
      </div>










      <div class="col-sm-12 ">
        <button type="button" class="btn btn-block btn-info" (click)="choix = 'heure'">Le stand m'est égal mais je
          suis disponible à :</button>
      </div>

      <div class="col-sm-12" *ngIf="choix == 'heure'">
        <div class="row">
          <div *ngFor="let croisement of creneaux | orderBy:'Creneau.ordre':false" class="col-sm-4">
            <button type="button"
              [ngClass]="{'btn-success':croisement.selected === true, 'btn-danger':croisement.Benevoles.length >= croisement.limite}"
              class="btn btn-block btn-secondary" (click)="choisir(croisement)">{{croisement.Creneau.plage}}<br>({{croisement.Benevoles.length}}/{{croisement.limite}})</button>
          </div>
        </div>
      </div>














      <div class="col-sm-12 ">
        <button type="button" class="btn btn-block btn-info" (click)="choix = 'besoin'">Là ou vous en avez
          besoin</button>
      </div>


      <div class="col-sm-12" *ngIf="choix == 'besoin'">
        <div class="row">
          <div *ngFor="let croisement of besoins | orderBy:'Stand.nom':false" class="col-sm-4">
            <button type="button"
              [ngClass]="{'btn-success':croisement.selected === true, 'btn-danger':croisement.Benevoles.length >= croisement.limite}"
              title="{{croisement.Stand.bulle}}" class="btn btn-block btn-secondary"
              (click)="choisir(croisement)">{{croisement.Stand.nom}}<br>
              {{croisement.Creneau.plage}}<br>({{croisement.Benevoles.length}}/{{croisement.limite}})</button>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 ">
    <div class="alert alert-warning">
      <strong>Attention</strong><br>
      Les mails issus de l'application proviennent de l'adresse alod.section.fete@gmail.com,<br>
      Ce sont des mails automatiques et sont tres souvent placés dans votre dossier SPAM
    </div>
  </div>
</div>