<div *ngIf="validation" class="row">
  <div class="col-sm-12 ">
  <div class="alert alert-success">
    <strong>Merci de votre participation,</strong>
    Vous pouvez revenir quand vous le souhaitez pour modifier vos choix
    Vous pouvez fermer cette fenêtre
  </div>
</div>
</div>
<div *ngIf="nouveau && !exist" class="row">
  <div class="col-sm-12 ">
  <div class="alert alert-success">
    <strong>Bienvenue,</strong>
    <h4> nous avons besoin de quelques informations personnelles pour faciliter l'organisation de la fête de
      l'école.</h4>
    <h4><i>(Les informations personnelles seront détruites après la fête)</i></h4>
  </div>
</div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="row" *ngIf="!exist">
      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Email : </span>
          </div>
          <input type="text" [(ngModel)]="benevole.email" class="form-control">
        </div>
      </div>
    </div>
    <div *ngIf="!exist" class="row">
      <div class="col-sm-12 ">
        <button *ngIf="new " type="button" class="btn btn-block btn-info btn-lg"
          (click)="find(benevole)">Entrer</button>
        <button *ngIf="!new && !nouveau " type="button" class="btn btn-block btn-warning btn-lg"
          (click)="find(benevole)">Je me suis trompé dans mon mail, je réessais</button>
        <button *ngIf="!new && !nouveau " type="button" class="btn btn-block btn-secondary btn-lg"
          (click)="error(benevole)">Hé Ho, il y a un problème, je me suis déjà inscrit !</button>
        <button *ngIf="!new && !nouveau " type="button" class="btn btn-block btn-info btn-lg"
          (click)="nouveau = true">Je suis nouveau, je souhaiterai m'inscrire</button>
      </div>
    </div>
    <div *ngIf="nouveau && !exist" class="row">

      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Nom : </span>
          </div>
          <input type="text" [(ngModel)]="benevole.nom" class="form-control">
        </div>
      </div>
      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Prenom : </span>
          </div>
          <input type="text" [(ngModel)]="benevole.prenom" class="form-control">
        </div>
      </div>
      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Telephone : </span>
          </div>
          <input type="text" [(ngModel)]="benevole.telephone" class="form-control">
        </div>
      </div>

      <div class="col-sm-12 ">
        <button type="button" class="btn btn-block btn-info btn-lg" (click)="subscribe(benevole)">Je m'inscris</button>
      </div>

    </div>
    <div *ngIf="exist" class="row">
      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <h4>Votre planning :</h4>

          <div *ngIf="chevauchement" class="alert alert-danger">
            <strong>Attention!</strong> Vous vous êtes inscrit sur au moins 2 creneaux identique
            <br>(si vous êtes plusieurs, précisez le dans le commentaire).
          </div>


          <div *ngFor="let croisement of benevole.Croisements" class="col-md-12">
            {{croisement.Stand.nom == "tous"?"N'importe quel stand":croisement.Stand.nom}} à
            {{croisement.Creneau.plage}}
          </div>

        </div>
      </div>






      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Commentaire : </span>
          </div>
          <textarea [(ngModel)]="benevole.commentaire" (blur)="update(benevole)" class="form-control">
            </textarea>
        </div>
      </div>
      <div *ngIf="benevole.reponse" class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Reponse : </span>
          </div>
          <input type="text" [(ngModel)]="benevole.reponse" readonly class="form-control">
        </div>
      </div>

      <div class="col-sm-12 ">
        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Préparation de plat : </span>
          </div>
          <input type="text" [(ngModel)]="benevole.gateaux" (blur)="update(benevole)" placeholder="par exemple: une tarte au pomme et une quiche" class="form-control">
        </div>
      </div>


      <div class="col-sm-12 ">
        <button type="button" class="btn btn-block btn-danger" (click)="validate()">Je valide mon
          inscription</button>
      </div>


    </div>
  </div>
  <div class="col-sm-6">
    <div class="row" *ngIf="exist ">



      <div class="col-sm-12 ">
        <button type="button" class="btn btn-block btn-warning" (click)="choisir(vendredi)">{{vendredi.Stand.nom}} - {{vendredi.Creneau.plage}}</button>
      </div>

      <div class="col-sm-12 ">
        <button type="button" class="btn btn-block btn-info" (click)="choix = 'stand'">Je préfère choisir mon
          stand</button>
      </div>

      <div class="col-sm-12" *ngIf="choix == 'stand'">
        <div class="row">
          <div *ngFor="let stand of stands" class="col-sm-4 dropdown">
            <button type="button" class="btn btn-block btn-secondary dropdown-toggle"
              data-toggle="dropdown">{{stand.nom}}</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" *ngFor="let croisement of stand.croisements"
                [ngClass]="{'active':croisement.selected === true}"
                (click)="choisir(croisement)">{{croisement.Creneau.plage}}</a>
            </div>
          </div>
        </div>
      </div>










      <div class="col-sm-12 ">
        <button type="button" class="btn btn-block btn-info" (click)="choix = 'heure'">Le stand m'est égal mais je
          suis disponible à :</button>
      </div>

      <div class="col-sm-12" *ngIf="choix == 'heure'">
        <div class="row">
          <div *ngFor="let croisement of creneaux" class="col-sm-4">
            <button type="button" [ngClass]="{'btn-info':croisement.selected === true}"
              class="btn btn-block btn-secondary" (click)="choisir(croisement)">{{croisement.Creneau.plage}}</button>
          </div>
        </div>
      </div>














      <div class="col-sm-12 ">
        <button type="button" class="btn btn-block btn-info" (click)="choix = 'besoin'">Là ou vous en avez
          besoin</button>
      </div>


      <div class="col-sm-12" *ngIf="choix == 'besoin'">
        <div class="row">
          <div *ngFor="let croisement of besoins" class="col-sm-4">
            <button type="button" [ngClass]="{'btn-info':croisement.selected === true}"
              class="btn btn-block btn-secondary" (click)="choisir(croisement)">{{croisement.Stand.nom}}<br>
              {{croisement.Creneau.plage}}</button>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>