@if (authorize && evenement != undefined) {

<div class="row marge">
  <div class="col-sm-12">


    <section class="card shadow-sm mb-3">
      <div class="row g-3">
        <div class="col">

          {{benevoles.length}} bénévoles

        </div>
        <div class="col">
          <button class="full-width" type="button" (click)="exportAsXLSX()">Télécharger</button>
        </div>
      </div>
    </section>

  </div>


  @for (benevole of benevoles | orderBy:'nom':false; track $index) {
  <div class="col-6 col-sm-6 col-md-4 col-xl-3 col-xxl-2">

    <details #mep class="card mb-3" [formGroup]="benevole.formulaire">
      <summary class="card-header">
        <span class="fw-semibold"> {{benevole.nom}} {{benevole.prenom}} </span>

      </summary>

      @if (mep.open) {
      <div class="row marge">

        
        

        <div class="col-8">

      <div class="mb-3 full-width">
        <label class="form-label">Nom</label>
        <input class="form-control" formControlName="nom" placeholder="Ex: Connor">
        @if (benevole.formulaire.get('nom')?.hasError('required')) {
        <div class="invalid-feedback d-block">Le nom est obligatoire</div>
        }
        @if (benevole.formulaire.get('nom')?.hasError('minlength')) {
        <div class="invalid-feedback d-block">C'est un peu court comme nom!</div>
        }
        <div class="form-text">Pour vous identifier sur le planning et dans les échanges</div>
      </div>

    </div>

    <div class="col-4">
      <button class="green-icon" type="button" [disabled]="!benevole.formulaire.touched"
        (click)="update(benevole)"><span class="app-icon">save</span>
      </button>
    </div>

    <div class="col-8">

      <div class="mb-3 full-width">
        <label class="form-label">Prenom</label>
        <input class="form-control" formControlName="prenom" placeholder="Ex: Sarah">
        @if (benevole.formulaire.get('prenom')?.hasError('required')) {
        <div class="invalid-feedback d-block">Le prenom est obligatoire</div>
        }
        @if (benevole.formulaire.get('prenom')?.hasError('minlength')) {
        <div class="invalid-feedback d-block">C'est un peu court comme prenom!</div>
        }
        <div class="form-text">Pour vous identifier sur le planning et dans les échanges</div>
      </div>
    </div>

    <div class="col-4">
      <button class="red-icon" type="button" (click)="delete(benevole)"><span class="app-icon">delete_forever</span>
      </button>
    </div>



        <div class="col-12">
          <div class="mb-3 full-width">
            <label class="form-label">Email</label>
            <input class="form-control" type="email" formControlName="email">
            @if (benevole.formulaire.get('email')?.hasError('email')) {
            <div class="invalid-feedback d-block">Le format est incorrecte</div>
            }
            @if (benevole.formulaire.get('email')?.hasError('required')) {
            <div class="invalid-feedback d-block">L'email est obligatoire</div>
            }
          </div>

        </div>


        <div class="col-12">
          @if (!benevole.formulaire.get('telephone')?.disabled) {
          <div class="mb-3 full-width">
            <label class="form-label">telephone</label>
            <input class="form-control" type="text" formControlName="telephone">

            @if (benevole.formulaire.get('telephone')?.hasError('required')) {
            <div class="invalid-feedback d-block">Le telephone est obligatoire</div>
            }
          </div>
          }
        </div>

        <div class="col-12">
          @for (benecroisement of benevole.croisements | orderBy:'stand.ordre':false; track $index) {


          <div class="mb-3 full-width">
            <label class="form-label">{{benecroisement.stand.nom == "tous"?"N'importe quel
              stand":benecroisement.stand.nom}}</label>
            <select name="crois">
              @for (stand of stands | orderBy:'ordre':false; track $index) {
              <optgroup label="{{stand.nom == 'tous'?'N\'importe quel stand':stand.nom}}">
                @for (croisement of stand.croisements | orderBy:'creneau.ordre':false; track $index) {
                <option [selected]="benecroisement.id == croisement.id"
                  (click)="choisir(benevole, benecroisement, croisement)">
                  {{croisement.creneau.plage}}
                  ({{croisement.benevoles.length}}/{{croisement.limite}})</option>
                }


              </optgroup>
              }
              <option (click)="choisir(benevole, benecroisement, null)">
                <font color="red"><b>Suppression</b></font>
              </option>
            </select>
          </div>

          }
        </div>
        <div class="col-12">
          <div class="mb-3 full-width">
            <label class="form-label">Nouveau</label>
            <select name="crois">
              <option value="" selected></option>
              @for (stand of stands | orderBy:'ordre':false; track $index) {
              <optgroup label="{{stand.nom == 'tous'?'N\'importe quel stand':stand.nom}}">

                @for (croisement of stand.croisements | orderBy:'creneau.ordre':false; track $index) {

                <option (click)="choisir(benevole, null, croisement)"> {{croisement.creneau.plage}}
                  ({{croisement.benevoles.length}}/{{croisement.limite}})</option>
                }
              </optgroup>
              }
            </select>
          </div>
        </div>

      </div>
      }
    </details>
  </div>
  }

</div>

}
