@if (authorize && evenement != undefined) {

<div class="row marge">
  <div class="col-sm-12">


    <mat-card appearance="raised">
      <mat-grid-list cols="3" rowHeight="50px">
        <mat-grid-tile [colspan]="2">

          <button type="button" class="btn btn-block btn-warning">Télécharger la liste des {{benevoles.length}}
            bénévoles</button>

        </mat-grid-tile>
        <mat-grid-tile>
          <button class="full-width" mat-flat-button type="button"
            [routerLink]="['/',evenement.id,'gestion']">Retour</button>

        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>

  </div>


  @for (benevole of benevoles | orderBy:'nom':false; track $index) {
  <div class="col-6 col-sm-6 col-md-4 col-xl-3 col-xxl-2">

    <mat-expansion-panel #mep="matExpansionPanel" [formGroup]="benevole.formulaire">
      <mat-expansion-panel-header>
        <mat-panel-title> {{benevole.nom}} {{benevole.prenom}} </mat-panel-title>

      </mat-expansion-panel-header>

      @if (mep.expanded) {

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
        @if (benevole.formulaire.get('email')?.hasError('email')) {
        <mat-error>Le format est incorecte</mat-error>
        }
        @if (benevole.formulaire.get('email')?.hasError('required')) {
        <mat-error>L'email est obligatoire</mat-error>
        }
      </mat-form-field>

      @if (!benevole.formulaire.get('telephone')?.disabled) {
      <mat-form-field class="full-width">
        <mat-label>telephone</mat-label>
        <input type="text" matInput formControlName="telephone">

        @if (benevole.formulaire.get('telephone')?.hasError('required')) {
        <mat-error>Le telephone est obligatoire</mat-error>
        }
      </mat-form-field>
      }
      @for (benecroisement of benevole.croisements | orderBy:'stand.ordre':false; track $index) {


      <mat-form-field class="full-width">
        <mat-label>{{benecroisement.stand.nom == "tous"?"N'importe quel stand":benecroisement.stand.nom}}</mat-label>
        <select matNativeControl name="crois">
          @for (stand of stands | orderBy:'ordre':false; track $index) {
          <optgroup label="{{stand.nom == 'tous'?'N\'importe quel stand':stand.nom}}">
            @for (croisement of stand.croisements | orderBy:'creneau.ordre':false; track $index) {
            <option [selected]="benecroisement.id == croisement.id"
              (click)="choisir(benevole, benecroisement, croisement)">
              {{croisement.creneau.plage}}
              ({{croisement.benevoles.length}}/{{croisement.limite}})</option>
            }


          </optgroup>
          }
          <option matInput (click)="choisir(benevole, benecroisement, null)">
            <font color="red"><b>Suppression</b></font>
          </option>
        </select>
      </mat-form-field>

      }

      <mat-form-field class="full-width">
        <mat-label>Nouveau</mat-label>
        <select matNativeControl name="crois">
          <option value="" selected></option>
          @for (stand of stands | orderBy:'ordre':false; track $index) {
          <optgroup label="{{stand.nom == 'tous'?'N\'importe quel stand':stand.nom}}">

            @for (croisement of stand.croisements | orderBy:'creneau.ordre':false; track $index) {

            <option matInput (click)="choisir(benevole, null, croisement)"> {{croisement.creneau.plage}}
              ({{croisement.benevoles.length}}/{{croisement.limite}})</option>
            }


          </optgroup>
          }
        </select>
      </mat-form-field>
      }
    </mat-expansion-panel>
  </div>
  }

</div>

}