
<div *ngIf="authorize && evenement != undefined" class="row">

  <div class="col-sm-6">
    <div class="input-group mb-3 input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">eventName</span>
      </div>
      <input type="text" [(ngModel)]="evenement.eventName" class="form-control" id="eventName">
    </div>

    <div class="input-group mb-3 input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">contact</span>
      </div>
      <input type="text" [(ngModel)]="evenement.contact" class="form-control" id="contact">
    </div>

    <div class="input-group mb-3 input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">contactEmail</span>
      </div>
      <input type="text" [(ngModel)]="evenement.contactEmail" class="form-control" id="contactEmail">
    </div>

    <div class="input-group mb-3 input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">contactTel</span>
      </div>
      <input type="text" [(ngModel)]="evenement.contactTel" class="form-control" id="contactTel">
    </div>

  </div>

  <div class="col-sm-6">

    <div class="input-group mb-3 input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">startDate</span>
      </div>
      <input type="date" [ngModel]="evenement.startDate | date:'yyyy-MM-dd'"
        (ngModelChange)="evenement.startDate = $event" class="form-control" id="startDate">
    </div>
    <div class="input-group mb-3 input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">endDate</span>
      </div>
      <input type="date" [ngModel]="evenement.endDate | date:'yyyy-MM-dd'" (ngModelChange)="evenement.endDate = $event"
        class="form-control" id="endDate">
    </div>

    <div class="input-group mb-3 input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">rappelDate</span>
      </div>
      <input type="date" [ngModel]="evenement.rappelDate | date:'yyyy-MM-dd'"
        (ngModelChange)="evenement.rappelDate = $event" class="form-control" id="rappelDate">
    </div>
    <div class="input-group mb-3 input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">password</span>
      </div>
      <input type="text" [(ngModel)]="evenement.password" class="form-control" id="evenementpassword">
    </div>

  </div>


  <div class="col-sm-6">
    <div class="input-group mb-3 input-group-lg">
      <span class="input-group-text">validation</span>
      <textarea [(ngModel)]="evenement.validation" id="validation" name="w3review" rows="4" cols="100">
       {{evenement.validation}}
        </textarea>
    </div>


    <div class="input-group mb-3 input-group-lg">
      <span class="input-group-text">retour</span>
      <textarea [(ngModel)]="evenement.retour" id="retour" name="w3review" rows="4" cols="100">
        {{evenement.retour}}
         </textarea>
    </div>

  </div>

  <div class="col-sm-6">
    <div class="input-group mb-3 input-group-lg">
      <span class="input-group-text">signature</span>
      <textarea [(ngModel)]="evenement.signature" id="signature" name="w3review" rows="4" cols="100">
        {{evenement.signature}}
         </textarea>
    </div>

    <div class="input-group mb-3 input-group-lg">
      <span class="input-group-text">rappel</span>
      <textarea [(ngModel)]="evenement.rappel" id="rappel" name="w3review" rows="4" cols="100">
        {{evenement.rappel}}
         </textarea>
    </div>
  </div>


  <div class="col-sm-6">
    <div class="input-group mb-3 input-group-lg">
      <span class="input-group-text">url site perso</span>
        <input type="text" [(ngModel)]="evenement.sitepersourl" class="form-control" id="siteperso">
    </div>
  </div>

  <div class="col-sm-6">
    <div >
      <button type="button" class="btn btn-primary" [ngClass]="{'btn-success':evenement.needtel == true}"
        (click)="evenement.needtel = true">Besoin du tel</button>
        <button type="button" class="btn btn-primary " [ngClass]="{'btn-danger':evenement.needtel == false}"
        (click)="evenement.needtel = false">Pas besoin du tel</button>

    </div>

</div>
  <div class="col-12">
    <input type="file" (change)="fileChangeEvent($event)" accept="image/*">

    <img class="container" *ngIf="logo" [src]="logo" alt="Logo">

    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="14/9"
      [resizeToWidth]="150" format="jpeg" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
    </image-cropper>
    <button type="button" class="btn btn-block btn-info" (click)="uploadImage(croppedImage)">Valider cette
      image</button>
  </div>

  <div class="col-sm-12 ">
    <button type="button" class="btn btn-block btn-warning" (click)="update(evenement)">MAJ</button>
  </div>
</div>