@if (authorize && evenement != undefined) {


<div class="row marge">
  <div class="col-sm-12">

    <section class="card shadow-sm mb-3">
      <div class="row g-3">
        <div class="col">

          <button class="full-width" type="button" (click)="update()">Enregistrer les
            modifications</button>

        </div>
        <div class="col">



        </div>
      </div>
    </section>


  </div>


  <div class="col-md-4">



    <section class="card shadow-sm mb-3">
      <form [formGroup]="formulaireEvent">
        <div class="card-body">
          <div class="mb-3 full-width">
            <label class="form-label">Nom de l'évènement</label>
            <input class="form-control" type="text" formControlName="eventName">

            @if (formulaireEvent.get('eventName')?.hasError('required')) {
            <div class="invalid-feedback d-block">Le nom de l'évènement est obligatoire</div>
            }

          </div>
        </div>





        <div class="card-body">

          <div class="mb-3">
            <label class="form-label">Vidange de la base donnée des bénévoles</label>
            <input class="form-control" type="date" [min]="minDate" [max]="maxDate" formControlName="endDate">
            @if (formulaireEvent.get('endDate')?.hasError('min')) {
            <div class="invalid-feedback d-block">La date minimale est {{minDate}}</div>
            }

          </div>

        </div>

        <div class="card-body">
          <div class="mb-3 full-width">
            <label class="form-label">Nom complet du contact</label>
            <input class="form-control" type="text" formControlName="contact">

            @if (formulaireEvent.get('contact')?.hasError('required')) {
            <div class="invalid-feedback d-block">Le nom du contact est obligatoire</div>
            }

          </div>
        </div>

        <div class="card-body">
          <div class="mb-3 full-width">
            <label class="form-label">Numéro de tel du téléphone</label>
            <input class="form-control" type="text" formControlName="contactTel">

            @if (formulaireEvent.get('contactTel')?.hasError('required')) {
            <div class="invalid-feedback d-block">Le nom du contactTel est obligatoire</div>
            }

          </div>
        </div>

        <div class="card-body">
          <div class="mb-3 full-width">
            <label class="form-label">Nom complet du contactEmail</label>
            <input class="form-control" type="email" formControlName="contactEmail">

            @if (formulaireEvent.get('contactEmail')?.hasError('required')) {
            <div class="invalid-feedback d-block">Le nom du contactTel est obligatoire</div>
            }

          </div>
        </div>

        <div class="card-body">
          <div class="mb-3 full-width">
            <label class="form-label">Nom complet du sitepersourl</label>
            <input class="form-control" type="text" formControlName="sitepersourl">

            @if (formulaireEvent.get('sitepersourl')?.hasError('required')) {
            <div class="invalid-feedback d-block">Le nom du contactTel est obligatoire</div>
            }

          </div>
        </div>


        <div class="card-body">
          <label class="form-check form-switch" formControlName="basique" (change)="updateConnexionParams()">
            Connexion simplifiée (uniquement un prénom) ?
          </label>
        </div>
        @if (!formulaireEvent.get('basique')?.value){

        <div class="card-body">
          <label class="form-check form-switch" formControlName="needtel">
            Besoin du téléphone des bénévoles?
          </label>
        </div>
        <div class="card-body">
          <label class="form-check form-switch" formControlName="notification">
            Les bénévoles recoivent un mail de confirmation ?
          </label>
        </div>
        }
        <div class="card-body">
          <label class="form-check form-switch" formControlName="copie">
           Souhaiez vous une copie des mails de confirmation ?
          </label>
        </div>

        <div class="card-body">
          <label class="form-check form-switch" formControlName="afficherBenevoles">
            Affichage du prenom des bénévoles déjà inscrits sur les boutons de selection?
          </label>

        </div>

        <div class="card-body">
          <label class="form-check form-switch" formControlName="afficherMessageAccueil">
            Afficher le message ci dessous dans la page d'accueil ?
          </label>
        </div>
        <div class="card-body">
          <label class="form-label">Message d'accueil</label>
          <ngx-editor-menu [toolbar]="toolbar" [editor]="editorMessageAccueil"> </ngx-editor-menu>
          <ngx-editor [editor]="editorMessageAccueil" formControlName="messageAccueil" [disabled]="false"  [placeholder]="'Un message d\'accueil'"></ngx-editor>
        </div>


        <div class="card-body">
          <label class="form-check form-switch" formControlName="afficherMessagePlanning">
            Afficher le message ci dessous dans le planning?
          </label>
        </div>
        <div class="card-body">
          <label class="form-label">Message du planning</label>
          <ngx-editor-menu [toolbar]="toolbar" [editor]="editorMessagePlanning"> </ngx-editor-menu>
          <ngx-editor [editor]="editorMessagePlanning" formControlName="messagePlanning" [disabled]="false"  [placeholder]="'Un message d\'accueil'"></ngx-editor>
        </div>



        <div class="card-body">
          <label class="form-check form-switch" formControlName="afficherMessageInfo">
            Afficher le message ci dessous dans la page d'info?
          </label>
        </div>
        <div class="card-body">
          <label class="form-label">Message d'accueil</label>
          <ngx-editor-menu [toolbar]="toolbar" [editor]="editorMessageInfo"> </ngx-editor-menu>
          <ngx-editor [editor]="editorMessageInfo" formControlName="messageInfo" [disabled]="false"  [placeholder]="'Un message d\'accueil'"></ngx-editor>
        </div>
      </form>

    </section>

  </div>


  <div class="col-md-4">

    <section class="card shadow-sm mb-3">
      <form [formGroup]="formulaireEvent">
        <div class="card-body">
          <label class="form-label">Contenu de l'email de validation</label>
          <ngx-editor-menu [toolbar]="toolbar" [editor]="editorValidation"> </ngx-editor-menu>
          <ngx-editor [editor]="editorValidation" formControlName="validation" [disabled]="false"  [placeholder]="'Contenu'"></ngx-editor>



        </div>

        <div class="card-body">

          <label class="form-label">Signature automatique des emails de l'application</label>
          <ngx-editor-menu [toolbar]="toolbar" [editor]="editorSignature"> </ngx-editor-menu>
          <ngx-editor [editor]="editorSignature" formControlName="signature" [disabled]="false"  [placeholder]="'Une signature dans les mails de validation'"></ngx-editor>


        </div>




        <div class="card-body">
          <div class="mb-3 full-width">
            <label class="form-label">La couleur du fond</label>
            <input class="form-control" type="color" formControlName="couleurFond" (change)="forceUpdateEvenement()">
            @if (formulaireEvent.get('couleurFond')?.hasError('required')) {
            <div class="invalid-feedback d-block">La couleur du fond est obligatoire</div>
            }
          </div>
        </div>

        <div class="card-body">
          <div class="mb-3 full-width">
            <label class="form-label">La couleur du bandeau</label>
            <input class="form-control" type="color" formControlName="couleurBandeau" (change)="forceUpdateEvenement()">
            @if (formulaireEvent.get('couleurBandeau')?.hasError('required')) {
            <div class="invalid-feedback d-block">La couleur du bandeau est obligatoire</div>
            }
          </div>
        </div>
        <div class="card-body">
          <div class="mb-3 full-width">
            <label class="form-label">La couleur du texte du bandeau</label>
            <input class="form-control" type="color" formControlName="couleurText" (change)="forceUpdateEvenement()">
            @if (formulaireEvent.get('couleurText')?.hasError('required')) {
            <div class="invalid-feedback d-block">La couleur du texte du bandeau est obligatoire</div>
            }
          </div>
        </div>
        <div class="card-body">
          <div class="mb-3 full-width">
            <label class="form-label">La couleur des titres</label>
            <input class="form-control" type="color" formControlName="couleurTitre" (change)="forceUpdateEvenement()">
            @if (formulaireEvent.get('couleurTitre')?.hasError('required')) {
            <div class="invalid-feedback d-block">La couleur des titres est obligatoire</div>
            }
          </div>
        </div>

        <div class="card-body">
          <div class="mb-3 full-width">
            <label class="form-label">La couleur des Bloques</label>
            <input class="form-control" type="color" formControlName="couleurCard" (change)="forceUpdateEvenement()">
            @if (formulaireEvent.get('couleurCard')?.hasError('required')) {
            <div class="invalid-feedback d-block">La couleur des Bloques est obligatoire</div>
            }
          </div>
        </div>

        <div class="card-body">
          <div class="mb-3 full-width">
            <label class="form-label">La couleur des menus de stands</label>
            <input class="form-control" type="color" formControlName="couleurBloc" (change)="forceUpdateEvenement()">
            @if (formulaireEvent.get('couleurBloc')?.hasError('required')) {
            <div class="invalid-feedback d-block">La couleur des des menus de stands est obligatoire</div>
            }
          </div>
        </div>


        <div class="card-body">
          <div class="mb-3 full-width">
            <label class="form-label">Besoin</label>
            <select class="form-select" formControlName="titleFont" (change)="forceUpdateEvenement()">
              @for (font of fontList; track font) {
              <option [value]="font">{{ font }}</option>
              }
            </select>
          </div>
        </div>
      </form>

    </section>

  </div>


  <div class="col-md-4">

    <section class="card shadow-sm mb-3">
      <div class="card-body">

        @if (logo) {
        <img [src]="logo" alt="logo">
        }



        <button class="full-width" type="button" (click)="fileInput.click()">Modifier le
          logo</button>
        <input class="form-control" hidden (change)="fileChangeEvent($event)" #fileInput type="file" id="file" accept="image/*">
        @if (croppedImage.length > 5) {
        <button class="full-width text-danger" type="button" (click)="uploadImage()">Enregistrer cette
          image</button>
        }

        <image-cropper [imageChangedEvent]="imageChangedEvent" [output]="'base64'" [aspectRatio]="14/9"
          [resizeToWidth]="150" format="jpeg" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
        </image-cropper>


      </div>
    </section>
    <section class="card shadow-sm mb-3">
      <div class="card-body">

        @if (affiche) {
          <img [src]="affiche" alt="Affiche">
          }


        <button class="full-width" type="button" (click)="afficheInput.click()">Modifier l'affiche de
          l'évènement</button>
        <input class="form-control" hidden (change)="afficheChangeEvent($event)" #afficheInput type="file" id="affiche" accept="image/*">
        @if (croppedAffiche.length > 5) {
        <button class="full-width text-danger" type="button" (click)="uploadAffiche()">Enregistrer cette
          image</button>
        }

        <image-cropper [imageChangedEvent]="afficheChangedEvent" [output]="'base64'" [maintainAspectRatio]="false"
          [resizeToWidth]="1280" format="jpeg" (imageCropped)="afficheCropped($event)" (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
        </image-cropper>


      </div>
    </section>


  </div>
</div>

}
