@if (authorize && evenement != undefined) {


<div class="row marge">
  <div class="col-sm-12">

    <mat-card appearance="raised">
      <mat-grid-list cols="3" rowHeight="50px">
        <mat-grid-tile [colspan]="2">

          <button class="full-width" mat-flat-button type="button" (click)="update()">Enregistrer les
            modifications</button>

        </mat-grid-tile>
        <mat-grid-tile>



        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>


  </div>


  <div class="col-md-4">



    <mat-card appearance="raised">
      <form [formGroup]="formulaireEvent">
        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>Nom de l'évènement</mat-label>
            <input type="text" matInput formControlName="eventName">

            @if (formulaireEvent.get('eventName')?.hasError('required')) {
            <mat-error>Le nom de l'évènement est obligatoire</mat-error>
            }

          </mat-form-field>
        </mat-card-content>





        <mat-card-content>

          <mat-form-field>
            <mat-label>Vidange de la base donnée des bénévoles</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dp" formControlName="endDate">

            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
            @if (formulaireEvent.get('endDate')?.hasError('min')) {
            <mat-error>La date minimale est {{minDate}}</mat-error>
            }

          </mat-form-field>

        </mat-card-content>

        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>Nom complet du contact</mat-label>
            <input type="text" matInput formControlName="contact">

            @if (formulaireEvent.get('contact')?.hasError('required')) {
            <mat-error>Le nom du contact est obligatoire</mat-error>
            }

          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>Numéro de tel du téléphone</mat-label>
            <input type="text" matInput formControlName="contactTel">

            @if (formulaireEvent.get('contactTel')?.hasError('required')) {
            <mat-error>Le nom du contactTel est obligatoire</mat-error>
            }

          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>Nom complet du contactEmail</mat-label>
            <input type="email" matInput formControlName="contactEmail">

            @if (formulaireEvent.get('contactEmail')?.hasError('required')) {
            <mat-error>Le nom du contactTel est obligatoire</mat-error>
            }

          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>Nom complet du sitepersourl</mat-label>
            <input type="text" matInput formControlName="sitepersourl">

            @if (formulaireEvent.get('sitepersourl')?.hasError('required')) {
            <mat-error>Le nom du contactTel est obligatoire</mat-error>
            }

          </mat-form-field>
        </mat-card-content>


        <mat-card-content>
          <mat-slide-toggle formControlName="basique" (change)="updateConnexionParams()">
            Connexion simplifiée (uniquement un prénom) ?
          </mat-slide-toggle>
        </mat-card-content>
        @if (!formulaireEvent.get('basique')?.value){

        <mat-card-content>
          <mat-slide-toggle formControlName="needtel">
            Besoin du téléphone des bénévoles?
          </mat-slide-toggle>
        </mat-card-content>
        <mat-card-content>
          <mat-slide-toggle formControlName="notification">
            Les bénévoles recoivent un mail de confirmation ?
          </mat-slide-toggle>
        </mat-card-content>
        }
        <mat-card-content>
          <mat-slide-toggle formControlName="copie">
           Souhaiez vous une copie des mails de confirmation ?
          </mat-slide-toggle>
        </mat-card-content>

        <mat-card-content>
          <mat-slide-toggle formControlName="afficherBenevoles">
            Affichage du prenom des bénévoles déjà inscrits sur les boutons de selection?
          </mat-slide-toggle>

        </mat-card-content>

        <mat-card-content>
          <mat-slide-toggle formControlName="afficherMessageAccueil">
            Afficher le message ci dessous dans la page d'accueil ?
          </mat-slide-toggle>
        </mat-card-content>
        <mat-card-content>
          <mat-label>Message d'accueil</mat-label>
          <ngx-editor-menu [toolbar]="toolbar" [editor]="editorMessageAccueil"> </ngx-editor-menu>
          <ngx-editor [editor]="editorMessageAccueil" formControlName="messageAccueil" [disabled]="false"  [placeholder]="'Un message d\'accueil'"></ngx-editor>
        </mat-card-content>


        <mat-card-content>
          <mat-slide-toggle formControlName="afficherMessagePlanning">
            Afficher le message ci dessous dans le planning?
          </mat-slide-toggle>
        </mat-card-content>
        <mat-card-content>
          <mat-label>Message du planning</mat-label>
          <ngx-editor-menu [toolbar]="toolbar" [editor]="editorMessagePlanning"> </ngx-editor-menu>
          <ngx-editor [editor]="editorMessagePlanning" formControlName="messagePlanning" [disabled]="false"  [placeholder]="'Un message d\'accueil'"></ngx-editor>
        </mat-card-content>



        <mat-card-content>
          <mat-slide-toggle formControlName="afficherMessageInfo">
            Afficher le message ci dessous dans la page d'info?
          </mat-slide-toggle>
        </mat-card-content>
        <mat-card-content>
          <mat-label>Message d'accueil</mat-label>
          <ngx-editor-menu [toolbar]="toolbar" [editor]="editorMessageInfo"> </ngx-editor-menu>
          <ngx-editor [editor]="editorMessageInfo" formControlName="messageInfo" [disabled]="false"  [placeholder]="'Un message d\'accueil'"></ngx-editor>
        </mat-card-content>
      </form>

    </mat-card>

  </div>


  <div class="col-md-4">

    <mat-card appearance="raised">
      <form [formGroup]="formulaireEvent">
        <mat-card-content>
          <mat-label>Contenu de l'email de validation</mat-label>
          <ngx-editor-menu [toolbar]="toolbar" [editor]="editorValidation"> </ngx-editor-menu>
          <ngx-editor [editor]="editorValidation" formControlName="validation" [disabled]="false"  [placeholder]="'Contenu'"></ngx-editor>



        </mat-card-content>

        <mat-card-content>

          <mat-label>Signature automatique des emails de l'application</mat-label>
          <ngx-editor-menu [toolbar]="toolbar" [editor]="editorSignature"> </ngx-editor-menu>
          <ngx-editor [editor]="editorSignature" formControlName="signature" [disabled]="false"  [placeholder]="'Une signature dans les mails de validation'"></ngx-editor>


        </mat-card-content>




        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>La couleur du fond</mat-label>
            <input type="color" matInput formControlName="couleurFond" (change)="forceUpdateEvenement()">
            @if (formulaireEvent.get('couleurFond')?.hasError('required')) {
            <mat-error>La couleur du fond est obligatoire</mat-error>
            }
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>La couleur du bandeau</mat-label>
            <input type="color" matInput formControlName="couleurBandeau" (change)="forceUpdateEvenement()">
            @if (formulaireEvent.get('couleurBandeau')?.hasError('required')) {
            <mat-error>La couleur du bandeau est obligatoire</mat-error>
            }
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>La couleur du texte du bandeau</mat-label>
            <input type="color" matInput formControlName="couleurText" (change)="forceUpdateEvenement()">
            @if (formulaireEvent.get('couleurText')?.hasError('required')) {
            <mat-error>La couleur du texte du bandeau est obligatoire</mat-error>
            }
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>La couleur des titres</mat-label>
            <input type="color" matInput formControlName="couleurTitre" (change)="forceUpdateEvenement()">
            @if (formulaireEvent.get('couleurTitre')?.hasError('required')) {
            <mat-error>La couleur des titres est obligatoire</mat-error>
            }
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>La couleur des Bloques</mat-label>
            <input type="color" matInput formControlName="couleurCard" (change)="forceUpdateEvenement()">
            @if (formulaireEvent.get('couleurCard')?.hasError('required')) {
            <mat-error>La couleur des Bloques est obligatoire</mat-error>
            }
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>La couleur des menus de stands</mat-label>
            <input type="color" matInput formControlName="couleurBloc" (change)="forceUpdateEvenement()">
            @if (formulaireEvent.get('couleurBloc')?.hasError('required')) {
            <mat-error>La couleur des des menus de stands est obligatoire</mat-error>
            }
          </mat-form-field>
        </mat-card-content>


        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>Besoin</mat-label>
            <mat-select formControlName="titleFont" (selectionChange)="forceUpdateEvenement()">
              @for (font of fontList; track font) {
              <mat-option [value]="font">{{ font }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </form>

    </mat-card>

  </div>


  <div class="col-md-4">

    <mat-card appearance="raised">
      <mat-card-content>

        @if (logo) {
        <img mat-card-image [src]="logo" alt="logo">
        }



        <button class="full-width" type="button" mat-stroked-button (click)="fileInput.click()">Modifier le
          logo</button>
        <input hidden (change)="fileChangeEvent($event)" #fileInput type="file" id="file" accept="image/*">
        @if (croppedImage.length > 5) {
        <button class="full-width mat-error" mat-stroked-button type="button" (click)="uploadImage()">Enregistrer cette
          image</button>
        }

        <image-cropper [imageChangedEvent]="imageChangedEvent" [output]="'base64'" [aspectRatio]="14/9"
          [resizeToWidth]="150" format="jpeg" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
        </image-cropper>


      </mat-card-content>
    </mat-card>
    <mat-card appearance="raised">
      <mat-card-content>

        @if (affiche) {
          <img mat-card-image [src]="affiche" alt="Affiche">
          }


        <button class="full-width" type="button" mat-stroked-button (click)="afficheInput.click()">Modifier l'affiche de
          l'évènement</button>
        <input hidden (change)="afficheChangeEvent($event)" #afficheInput type="file" id="affiche" accept="image/*">
        @if (croppedAffiche.length > 5) {
        <button class="full-width mat-error" mat-stroked-button type="button" (click)="uploadAffiche()">Enregistrer cette
          image</button>
        }

        <image-cropper [imageChangedEvent]="afficheChangedEvent" [output]="'base64'" [maintainAspectRatio]="false"
          [resizeToWidth]="1280" format="jpeg" (imageCropped)="afficheCropped($event)" (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
        </image-cropper>


      </mat-card-content>
    </mat-card>


  </div>
</div>

}
