@if (authorize) {
<div class="row marge">
  <div class="col-sm-12">
    <mat-card appearance="raised">
      <div class="row marge" [formGroup]="formulaireNewStand">
        <div class="col-12 col-md-5">
          <mat-form-field class="full-width">
            <mat-label>Ordre</mat-label>
            <input type="text" matInput formControlName="ordre">
            @if (formulaireNewStand.get('ordre')?.hasError('required')) {
            <mat-error>Le numéro d'ordre est obligatoire</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-md-5">
          <mat-form-field class="full-width">
            <mat-label>Nom</mat-label>
            <input type="text" matInput formControlName="nom">
            @if (formulaireNewStand.get('nom')?.hasError('required')) {
            <mat-error>Le nom du stand est obligatoire</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-md-2">
          <button class="blue-icon" mat-fab type="button" (click)="ajout(formulaireNewStand)"><mat-icon>save</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>
  </div>

  @if (standsFormulaire != null && standsFormulaire.controls.length > 0) {
  @for (stand of standsFormulaire.controls | orderObjectBy:"value.ordre":false; track stand) {
  <div class="col-12 col-md-6 col-lg-4 col-xxl-3" [formGroup]="stand">
    <mat-card class="padding-top" appearance="raised">
      <div class="row marge">

        <div class="col-6">
          <mat-form-field class="full-width">
            <mat-label>Ordre</mat-label>
            <input type="text" matInput formControlName="ordre">

            @if (stand.get('ordre')?.hasError('required')) {
            <mat-error>Le numéro d'ordre est obligatoire</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-3">
          <button class="green-icon" mat-fab type="button" [disabled]="!stand.touched"
            (click)="update(stand)"><mat-icon>save</mat-icon>
          </button>
        </div>
        <div class="col-3">
          <button class="red-icon" mat-fab type="button"
            (click)="delete(stand)"><mat-icon>delete_forever</mat-icon>
          </button>
        </div>

        <div class="col-12">
          <mat-form-field class="full-width">
            <mat-label>Nom</mat-label>
            <input type="text" matInput formControlName="nom">

            @if (stand.get('nom')?.hasError('required')) {
            <mat-error>Le nom du stand est obligatoire</mat-error>
            }

          </mat-form-field>
        </div>


        <div class="col-12 ">
          <mat-form-field>
            <mat-label>Modifier le type</mat-label>
            <mat-select [(value)]="stand.get('type')!.value" formControlName="type">
              <mat-option [value]=5>Préparatifs</mat-option>
              <mat-option [value]=2>Activité</mat-option>
              <mat-option [value]=4>Activité non
                visible</mat-option>
              <mat-option [value]=6>Postparatifs</mat-option>
              <mat-option [value]=1>Sans choix</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12 ">
          <div class="row max_width">
            <div class="col-12">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Créneaux:</mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field>
                  <mat-label>Ajouter un creneau</mat-label>
                  <mat-select (selectionChange)="addCreneauToStand($event, stand)">
                    <mat-option></mat-option>

                    @for (creneau of creneaux; track creneau) {
                    <mat-option [value]="creneau">{{ creneau.plage }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>

                @for (croisement of getCroisement(stand).controls | orderObjectBy:'value.id':false ; track $index) {
                <div class="col-sm-12" [formGroup]="croisement">
                  <div class="row">

                    <div class="col-12">
                      -{{croisement.get('plage')?.value}}
                    </div>
                    <div class="col-5">
                      <mat-form-field class="full-width">
                        <mat-label>Limite</mat-label>
                        <input type="text" matInput formControlName="limite">
                        @if (croisement.get('limite')?.hasError('required')) {
                        <mat-error>Une limite est obligatoire</mat-error>
                        }
                      </mat-form-field>
                    </div>

                    <div class="col-4">
                      <mat-form-field>
                        <mat-label>Besoin</mat-label>
                        <mat-select formControlName="besoin" [(value)]="croisement.get('besoin')!.value">
                          <mat-option [value]=true>Oui</mat-option>
                          <mat-option [value]=false>Non</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-3">

                      <button class="red-icon" mat-fab type="button"
                        (click)="dialogDeleteCroisement(croisement, stand, $index)"><mat-icon>auto_delete</mat-icon></button>
                    </div>
                  </div>
                </div>
                }

              </mat-expansion-panel>
            </div>
          </div>


        </div>



      </div>

    </mat-card>
  </div>

  }
  }


</div>
}